body{
    margin: auto;
    position: relative; 
}

th, td{
    cursor: pointer;
    
}

#cont-list-wrap{
    height: 1000px;
    margin: auto;
    
}
/* 컨텐츠 상단 */
.product-top{
    float: left;
    position: relative;
    left: 25%;
    margin-top: 50px;
    margin-left: 20px;
    max-width: 1200px;
    min-width: 600px;
}

.pt-img>img{
    width: 300px;
    height: 300px;
    padding: 20px;
}

.product-top>ul>li{
    float: left;
}

.right-te{
    text-align: left;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 30px;
}

.right-te>h4{
    color: rgb(236, 22, 22);

}

.right-te>p{
    color: #9E9E9E;
}

.right-te>h1{
    padding-left: 14px;
    padding-top: 20px;
}

.right-te>input{
    width: 150px;
    height: 30px;
    margin-left: 20px;
    margin-top: 20px;
}

#ser{
    padding: 5px;
    background-color: white;
    color: #ffc289;
    border: 1px solid #e4ad7a;
    cursor: pointer;
    border-radius: 2px;
}

#ser:hover{
    background-color: #ffc289;
    color: white;
}

.btn-ser2-in{
    padding-left: 30px;
    margin-top: 20px;
}

.btn-ser2-in>a{
    width: 180px;
    height: 50px;
    font-size: 24px;
    padding:14px;
    margin-left: 10px;
    background-color: white;
    color: #ffc289;
    border: 1px solid #e4ad7a;
    border-radius: 2px;
    cursor: pointer;
}

.btn-ser2-in>button:hover{
    background-color: #ffc289;
    color: white;
}

input[type=number]::-webkit-inner-spin-button {
    opacity: 0.9

}
/* 컨텐츠 하단 */
#product-bottom{
    position: relative;
    top: 40%;
    height: 5000px;
    margin: auto;
   
    border-top: 1px solid black;
    max-width: 2000px;
    min-width: 600px;
}

.navbar-nav{
    width: 100%;

}

.navbar-nav > li{
    float: left;
    position: relative;
    right: 238px;
    width: 250px;
    height: 50px;
    padding: 15px;
    color: #474747;
    background-color: #f08827;
    color: #000000;
    border: 1px solid #ffc289;
}

.navbar-nav > li:hover{
    background-color: #ffc289;
    border: 1px solid #ffc289;
    color: #fff;
}

/* 첫번째 탭 */
.tap-menu{
    position: relative;
    left: -14%;
    margin-top: 10px;
}

.tap-menu li{
    float: left;
    width: 240px;
    padding: 14px;
    font-size: 18px;
    margin: 0px 8px;
    border: 1px solid #000;
    background-color: rgb(207, 207, 207);
}

#first{
    background-color: #fff;
    color: #ffc289; 
}

#first:hover{
    background-color: #ffc289;
    color: white;
}

.tap-menu li:hover{
    background-color: #ffc289;
    color: white;
}

.con{
    font-size: 30px;
}

.btn-sel{
    width: 100px;
    height: 40px;
    background-color: #e4ad7a;
    font-size: 20px;
    cursor: pointer;
    float: right;
    margin-bottom: 4px;
}

.btn-sel:hover{
    background-color: #f08827;
    color: #F5F5F5;
    cursor: pointer;
}

.article-list{
    width: 1010px;
    height: 500px;
    position: relative;
    top: 60px;
    left: 473px;
}

table tr{
    text-align: center;
}

.table-con{
    position: relative;
    width: 1000px;
    margin: auto;
}

.table-con .btn-box {
	text-align:center;
}

table th, table td {
	padding: 10px;
}

table {
    width: 100%;
	border-collapse: collapse;
    border:none;
    border-top:2px solid lightgray;
    border-bottom:2px solid lightgray;
}

table td {
    border-bottom:1px solid lightgray;
}

table thead {
    border-bottom:2px solid lightgray;
    background-color:#F5F5F5;
}
table tbody td {
    border-bottom:2px solid lightgray;
    
}

.red-btn > button{
    background: #f08827;
    border:1px solid #e4ad7a;
    cursor: pointer;
    padding: 4px;
    width: 100px;
    height: 40px;
}

.wt-btn{
    background: rgb(255, 199, 199);
    border:1px solid #e4ad7a;
    cursor: pointer;
    padding: 4px;
    width: 100px;
    height: 40px;
}

.rt-btn{
    background: rgb(253, 54, 54);
    border:1px solid #e4ad7a;
    cursor: pointer;
    padding: 4px;
    width: 100px;
    height: 40px;
}

.red-btn > button:hover{
    background: rgb(201, 201, 201);
    cursor: pointer;
}

.wt-btn:hover{
    background: rgb(201, 201, 201);
    cursor: pointer;
}

.rt-btn:hover{
    background: rgb(201, 201, 201);
    cursor: pointer;
}

#section4{
	margin-top:200px;
	height:60vh;
}

#section4>img{
	margin-left:474px;
}