.container{
    margin-top: 100px;
    text-align: center;
    height: 1000px;
    font-size: 24px;
}

table > td{
	pading-right:10px;
}

#textbox{
	margin-left:25%;
}

.filebox{
	margin-left:20px;
	float:left;
	
}

.titlebox{
    font-size: 24px;
    width:800px;
    padding:10px;
    margin:10px;
    border-radius:8px;
}

.postbox{
	 font-size: 24px;
    width:800px;
    padding:10px;
    margin:10px;
    border-radius:8px;
    resize: none;
}

.btn-sl{
    background-color: #e4ad7a;
    border: 5px solid #e4ad7a;
    border-radius: 5px;
    padding: 4px;
    width: 200px;
    cursor: pointer;
    font-size: 30px;
    margin-left:150px;
}

.btn-sl2{
    background-color: #e96969;
    border: 5px solid #e96969;
    border-radius: 5px;
    padding: 4px;
    width: 200px;
    cursor: pointer;
    font-size: 30px;
}

.btn-sl:hover{
 	background-color: #e4ad7a;
    border: 5px solid #e4ad7a;
    padding: 14px;
    color: #fff;
    font-size: 20px;
}

.btn-sl2:hover{
   	background-color: #e96969;
    border: 5px solid #e96969;
    padding: 14px;
    color: #fff;
    font-size: 20px;
}
/*문의 등록*/

#for-select{
    margin-right: 1100px;
    position: relative;
    top:25px;
}

.form2{
    position: relative;
    bottom:20px;
}

input{
    font-size: 20px;
}

.form-group2 > input{
    width: 500px;
}

.form-group2 > textarea{
    width: 500px;
}

.titlebox2{
    margin-bottom: 10px;
    margin-left: 140px;
    width: 1000px;
    height: 30px;
}

#textbox2>input{
    margin-bottom: 10px;
    margin-right: 390px;
    width: 1140px;
    height: 30px;
}

