/* 공통 부분 */
div {
    display : block;
}

html, body {
    color: #333;
    font-size: 14px;
    font-weight: 400;
}

html {
    -webkit-text-size-adjust: 100%;
}

li{
    display: list-item;
}

ol,ul {
    list-style : none;
}

h2 {
    display:block;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end:0px;
}

form {
    display: block;
}

ul {
    display : block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end:0px;
    padding-inline-start: 40px;
}

dl {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end:0px;
}

.container {
    position: relative;
    min-height: 700px;
    padding-bottom: 100px;
}

.content-wrap {
    min-height: 700px;
}

.frame-sm {
    position: relative;
    max-width: 1100px;
    margin: 0 auto;
}

.title-page {
    font-size: 25px;
    font-weight: 700;
}
.page-title-area .cart-option{
    padding: 10px 0 0 15px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    font-size: 16px;
}

.custom-checkbox {
    position: relative;
    display: inline-block;
    vertical-align: top;
}

.cart-list {
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}
.cart-list-area {
    border-top : 1px solid #666;
    border-left : 1px solid #ccc;
    border-right: 1px solid #ccc;
}

.prd-info-area {
    position : relative;
}

.prd-info-area .inner {
    display: table;
    table-layout: auto;
    width:100%;
}

.prd-info-area .column.check {
    width: 35px;
    vertical-align: top;
    text-align: left;
}

.prd-info-area .column.img {
    width: 80px;
    height: 80px;
    position: relative;
}

.prd-info-area .column {
    display: table-cell;
    vertical-align: top;
    text-align: center;
}

.prd-info-area .column.tit {
    padding: 0 10px 0 15px;
    text-align: left;
}

.prd-info-area .column.qty {
    width: 160px;
    vertical-align: middle;
}

.prd-info-area .column.price {
    width: 130px;
    vertical-align: middle;
    text-align: right;
}

.prd-info-area .column.btn {
    width: 100px;
    vertical-align: middle;
    text-align: right;
}

.cart-total-box {
    border: 1px solid #333;
    margin-top : 50px;
}

.cart-total-box .colum {
    border-right: 1px solid #ccc;
    height: 120px;
}

.cart-total-box .colum .price-info {
    position: relative;
    padding: 28px 0 0;
}

.cart-total-box .price-info .tit {
    font-size: 15px;
    text-align: center;
    margin-bottom: 8px;
}

.cart-total-box .price-info .price {
    position: relative;
    font-size: 18px;
    text-align: center;
}

.grid-area-span4 > .colum {
    width: calc((100% - 13px) / 4);
}

[class*="grid-area-"] > .colum,
.grid-area > .colum {
    display: inline-block;
    vertical-align: top;
    font-size: 14px;
}

.page-guide-center {
    width : 100%;
    text-align:center;
}

.page-guide-center .bl-list-type1 {
    display: inline-block;
}
.bl-list-type1 > li {
    color : #666;
    font-size : 13px;
    text-align:left;
}

.btn-bottom-area {
    margin-top: 50px;
    position: relative;
    text-align: center;
}

[class*="btn-basic-"] {
    border-radius: 6px;
}

.btn-basic-xxlg {
    min-width : 370px;
    height: 70px;
    padding: 15px 25px;
    margin-right: 20px;
}

.btn-default-ex {
    background: #fff;
    color: #333;
    border: 1px solid #666;
}

.btn-primary-ex {
    background : #FF7E32;
    color : #fff;
    border : 1px solid #FF7E32;
}

.btn-primary-ex > span, .btn-primary-exline > span {
    font-weight: 700;
}

.btn-basic-xxlg > span {
    font-size : 24px;
    line-height: 1.7;
}
