<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/goodeat//src/main/resources/static/css/admin/requeiry/requeiry.css">
    <link rel="stylesheet" href="/goodeat//src/main/resources/static/css/admin/Adminstyle.css">
    <link href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Gamja+Flower&family=Gowun+Dodum&family=Poor+Story&display=swap" rel="stylesheet">
    <link rel ="icon" type="image/x-icom" href="/goodeat/src/main/resources/static/images/common/HEQXSRYC.ico">
</head>
<body>
    <header>
        <div id="container">
            <div id="top-menu">
              <div class="logo-menu">
                  <img class="logo" src="/goodeat/src/main/resources/static/images/main-logo.PNG">
              </div>
              
              <div class="box">
                  <img class="profile" src="/goodeat/src/main/resources/static/images/admin/TeamReder.PNG" alt="리더">
              </div>
              <div class="name-menu">
                  <p>welcome!</p>
                  <h3>관리자</h3>
              </div>
          </div>
                <!--세로형 메뉴-->
                <div class="menu-base">
                  <ul>
                  <li class="sub-menu">
                      <a href="/goodeat/src/main/resources/templates/admin/member/adm-member.html" id="menu-base-a">회원관리</a></li>
                  <li class="sub-menu">
                      <a href="#" id="menu-base-a">상품관리</a></li>
                  <li class="sub-menu">
                      <a href="#" id="menu-base-a">주문관리</a></li>
                  <li class="sub-menu-select">
                      <a href="#" id="menu-base-a">문의/리뷰관리</a></li>
                  <li class="sub-menu">
                      <a href="/goodeat/src/main/resources/templates/admin/post/adm-post.html" id="menu-base-a">게시판관리</a></li>
              </ul> 
              </div>
            <div class="clear"></div>
        </div>
    </header>
    
    <section>
        <div class="head-top">
            <div class="logout-content">
                <a>로그아웃</a>
            </div>
            <div class="logout-img">
              <a><img src="/goodeat/src/main/resources/static/images/admin/logout.png"></a>
            </div>
        </div>
    </section>

    <div class="rq-head-box"></div>
    <div class="rev-head-box"></div>
    <a class="rq-head">문의 관리</a>
    <a class="rev-head" href="http://192.168.0.3:5500/goodeat/src/main/resources/templates/admin/requeiry/adm-review.html">리뷰 관리</a>

    <table class="tg">
        <tbody>
          <tr>
            <td class="tg-0pky">문의날짜</td>
            <td class="tg-0lax">
                <a>
                    <input type="date" id="date1">
                    <label for="date1"></label>
                    &nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;
                    <input type="date" id="date2">
                    <label for="date1"></label>
                </a>
            </td>
          </tr>
          <tr>
            <td class="tg-0pky">문의유형</td>
            <td class="tg-0lax">
                <a>
                    <input type="checkbox" id="cb1">
                    <label for="cb1"></label>
                    배송문의&nbsp;&nbsp;&nbsp;
                    <input type="checkbox" id="cb2">
                    <label for="cb1"></label>
                    환불/취소&nbsp;&nbsp;&nbsp;
                    <input type="checkbox" id="cb2">
                    <label for="cb1"></label>
                    상품문의&nbsp;&nbsp;&nbsp;
                    <input type="checkbox" id="cb2">
                    <label for="cb1"></label>
                    기타문의&nbsp;&nbsp;
                </a>
            </td>
          </tr>
          <tr>
            <td class="tg-0pky">문의상태</td>
            <td class="tg-0lax">
                <a>
                    <input type="checkbox" id="cb1">
                    <label for="cb1"></label>
                    답변완료&nbsp;&nbsp;&nbsp;
                    <input type="checkbox" id="cb2">
                    <label for="cb1"></label>
                    미완료&nbsp;&nbsp;&nbsp;
                </a>
            </td>
          </tr>
          <tr>
            <td class="tg-0pky">검색어</td>
            <td class="tg-0lax">
                <input type="text" class="member-bar" placeholder="고객 아이디를 입력하세요">
            </td>
          </tr>
        </tbody>
    </table>
    <button class="member-button">검색</button>
    <table class="tg2">
        <thead>
          <tr class="headline2">
            <th class="tg2-lboi">번호</th>
            <th class="tg2-lboi">문의유형</th>
            <th class="tg2-lboi">문의날짜</th>
            <th class="tg2-lboi">제목</th>
            <th class="tg2-lboi">회원ID</th>
            <th class="tg2-lboi">답변상태</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="tg2-0pky">001</td>
            <td class="tg2-0pky">배송문의</td>
            <td class="tg2-0pky">2022-09-19</td>
            <td class="tg2-0pky">배송 문의 합니다.</td>
            <td class="tg2-0pky">user01</td>
            <td class="tg2-0pky">미완료</td>
          </tr>
          <tr>
            <td class="tg2-0pky">002</td>
            <td class="tg2-0pky">환불/취소</td>
            <td class="tg2-0pky">2022-09-18</td>
            <td class="tg2-0pky">환불/취소 문의 합니다.</td>
            <td class="tg2-0pky">user02</td>
            <td class="tg2-0pky">답변완료</td>
          </tr>
          <tr>
            <td class="tg2-0pky">003</td>
            <td class="tg2-0pky">상품문의</td>
            <td class="tg2-0pky">2022-09-17</td>
            <td class="tg2-0pky">상품 문의 합니다.</td>
            <td class="tg2-0pky">user03</td>
            <td class="tg2-0pky">미완료</td>
          </tr>
          <tr>
            <td class="tg2-0pky">004</td>
            <td class="tg2-0pky">기타문의</td>
            <td class="tg2-0pky">2022-09-16</td>
            <td class="tg2-0pky">기타 문의 합니다.</td>
            <td class="tg2-0pky">user04</td>
            <td class="tg2-0pky">답변완료</td>
          </tr>
          <tr>
            <td class="tg2-0pky"></td>
            <td class="tg2-0pky"></td>
            <td class="tg2-0pky"></td>
            <td class="tg2-0pky"></td>
            <td class="tg2-0pky"></td>
            <td class="tg2-0pky"></td>
          </tr>
        </tbody>
        </table>  
</body>
</html>