<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">  
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/main-contents.css">
    <link rel="stylesheet" href="/css/user/productDetail/select.css">
    <link rel="stylesheet" href="/font/Cafe24Ssurround.ttf">
    
</head>

<title>굿잇 : 맛있게 건강해지고 싶다면? Let's GoodEat!</title>
</head>
<body data-spy="scroll" data-target=".navbar" data-offset="50">
    <!-- 헤더부분 -->
     <div th:replace="user/common/header.html"></div>
 
 <!-- 컨텐츠 부분 -->
  <div class="container">
  <form th:action="@{/user/productdetail/review/modify}" method="post" enctype="multipart/form-data">
    <h1>리뷰 수정</h1>
        <table id="textbox" border="0">
        	<tr>
        		<tr>
        			<td>게시글 번호</td>
        			<td><input type="text" name="reviewCode" class="titlebox" th:value="${review.reviewCode}" style="border:none; text-align:left;" readonly></td>
        		</tr>
        	
        		<tr>
        		<td>제목</td>
        			<td><input type="text" class="titlebox" name="reviewTitle" th:value="${review.reviewTitle}"></td>
        		</tr>
        		<tr>
        			<td></td>
        			<td>	
        				<input class="number" name="order.orderNo" type="hidden"/>
        			</td>
        		</tr>
        		<tr>
        			<td>상품 번호</td>
        			<td>	
        				<input type="text" class="filebox" name="product.productCode" th:value="${review.product.productCode}"style="border:none" readonly/>
        			</td>
        		</tr>
        		<tr>
        			<td>내용</td>
        			<td>
        				<textarea class="postbox" rows="20" placeholder=" 1(배송문의) | 2(상품문의) | 3(결제문의) | 4(환불/취소문의) | 5(계정문의) | 6(기타문의) | 상세하게 작성 부탁드립니다.(최대 2000자)" name="reviewContent"></textarea>
        			</td>
        		</tr>
        	
        </table>
         <input type="submit" value="수정" class="btn-sl">
        </form>
  </div>
       <!-- 푸터 부분 -->
 <div th:replace="user/common/footer.html"></div>
 </body>
 </html>