<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/user/product/categoy.css">
    <link rel="stylesheet" href="/source/font/Cafe24Ssurround.ttf">
    
    <title>MainPage</title>
</head>
<body>
 <!-- 헤더부분 -->
 	<div th:replace="user/common/header.html"></div>
    <!-- 메인 메뉴 -->
 	

   <section id="con-wrap">
      <div class="con-wrap-frame">
        <div class="page-title-area">
            <h2 class="title-page-type">닭가슴살</h2>
        </div>
        <div class="page-title-image">
            <img src="/images/user/product/chicken/chicken_main.png">
        </div>
        <div class="grid-list-wrap">
            <div class="page-sorting-box">
            
            
            
            
            
            
            
            
            
            <th:block th:each="product : ${ productList }">
            	<div align="center">
            		<div>
            			<th:block th:each="attachment : ${ product.AddfileList }">
            			
            			<img th:if="${ attachment.fileType=='Title' }"
            				 th:src="${ attachment.savedRoute }">
            			</th:block>
            		</div>
            		<span th:text="${ product.productName }"></span>
            		<span th:text="${ product.productPrice }"></span>
            	</div>	
            </th:block>
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            

        </div>
        </div>
     </div>
            
            
<!--                 <p class="total">
                    <span>닭가슴살</span>
                </p> -->
<!--                 <div class="right-func">
                    <div class="select-box" data-value="100">
                     
                            <select name="option" id="option">
                                <option value="p-high">가격높은순</option>
                                <option value="p-low">가격낮은순</option>
                                <option value="k-high">오름차순</option>
                                <option value="k-low">내림차순</option>
                             </select>
                    
                    </div>

                    <div class="btn-detail-search ui-toggle-btn">
                        <a title="select" class="select-value">
                            <span>상세검색</span>
                        </a>
                        <div class="inner">
                            <fieldset>
                                <legend class="search-tit">인기검색어</legend>
                                <div class="scroll-area">
                                    <ul class="form-inline-list">
                                        <li>
                                            <div class="custom-checkbox">
                                                <input type="checkbox" id="keyword-0" class="checkbox" name="vkeyword" value="닭가슴살" data-name="닭가슴살">
                                                <label for=""keyword-0>"닭가슴살"</label>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </fieldset>
                        </div>
                    </div>

                </div> 

            </div> -->

        <!-- 상품 list -->
<!--         <div class="product-list row">
            <div class="product-box cell">
                <div class="img-box">
                    <a href="#">
                        <img class="milkit" src="/images/user/product/chicken/chicken1.png">
                    </a>
                </div>
                
                <div class="text-box"></div>
                    <span class="mil-text1">주말 닭가슴살 식단 패키지A </span>
                <div class="price-box">
                    <span class="mil-price1"><b>21,400원</b></span>
                </div> -->

      
</section> 
 	
</body>
</html>

