#textbox {
    position: fixed;
    left : 250px;
    top: 200px;
    width: 80%;
    height: 60%;
}

.titlebox {
    height: 40px;
    margin-bottom: 10px;
    border-radius: 5px;
    width: 100%;
}

/* 게시글 상세 조회 */
#textbox {
	
	position : fixed;
	top : 250px;
	left : 250px;
	height: 450px;
}

.a-textContent {
	font-size: 1.5em;
	background-color: #293F54;
	color: white;
	border-style: groove;
	width: 10%;
}

#textContent {
	margin-left: 20px;
	
}

.title-No {
	display:flex;
	border: 2px groove #F3F3F3;
	
}

.type-date{
	display:flex;
	border: 2px groove #F3F3F3;
}

.memberNo {
	font-size: 1.8em;
}

.postType {
	font-size: 1.8em;
	width:40%;
}

.a-postContent {
	font-size: 1.8em;
	background-color: #293F54;
	color: white;
}

.postContent {
	border: 2px groove #F3F3F3;
	height: 70%;
	font-size: 1.4em;
	color: #293F54;
}


.postTitle {
	font-size: 1.8em;
	width:40%;
}

.registDate {
	font-size: 1.8em;
}


#eventButtonList {
	margin-left: 155px;
}


/* 등록 버튼 */
.member-button {
    position : fixed;
    top: 760px;
    left : 40%;
    width: 125px;
    height: 50px;
    font-size: 25px;
    background-color :#293F54;
    color: white;
    box-shadow: 2px 2px 2px 2px rgb(0,0,0,0.5);
    border-radius: 8px;
}

/* 등록버튼 마우스오버 */
.member-button:hover{
    background:whitesmoke;
    color: #293F54;
}

/* 등록버튼 클릭*/
.member-button:active {
    font-size: 20px;
    box-shadow: 1px 1px 0 rgb(0,0,0,0.5);
    position: fixed;
    top:762px;
}

/* 삭제 버튼 */
.btn-del {
    position : fixed;
    top: 760px;
    left : 60%;
    width: 125px;
    height: 50px;
    font-size: 25px;
    background-color :#FF0000;
    color: white;
   
    box-shadow: 2px 2px 2px 2px rgb(0,0,0,0.5);
    border-radius: 8px;
}

/* 삭제 버튼 마우스오버 */
.btn-del:hover{
    background:whitesmoke;
    color:#FF0000;
    font-weight: bold;
    
}

/* 삭제 버튼 클릭*/
.btn-del:active {
    
    font-size: 20px;
    box-shadow: 1px 1px 0 rgb(0,0,0,0.5);
    position: fixed;
    top:762px;
}


.tg2  {
    border-collapse:collapse;
    border-spacing:0;
    top: 250px;
}


.tg2 td{
    border-color:black;
    border-style:solid;
    border-width:1px;
    font-size:20px;
    overflow:hidden;
    padding:10px 5px;
    word-break:normal;
    height: 50px;
}


.tg2 th{
    border-color:black;
    border-style:solid;
    border-width:1px;
    font-size:20px;
    font-weight:normal;
    overflow:hidden;
    padding:10px 5px;
    word-break:normal;
}


.tg2 .tg2-lboi{
    font-size: 30px;
    font-weight: bold;
    border-color:inherit;
    text-align:center;
    vertical-align:middle
}


.tg2 .tg2-0pky{
    font-size: 25px;
    border-color:inherit;
    text-align:left;
    vertical-align:top
    
}

.tg2 .tg2-0pkq {
    text-align: center;
    justify-content: center;
}


.headline2 {
    background-color: #293F54;
    color: white;
    text-align: center;
}

.event-head{
    position: fixed;
    color: black;
    top : 80px;
    left : 250px;
    font-size: 2.5em;
}

.event-head-box {
    position: fixed;
    background-color:  #00BFFF;
    top : 135px;
    left : 250px;
    width: 160px;
    height: 5px;
}

.gong-head{
    position: fixed;
    color: grey;
    top : 80px;
    left : 420px;
    font-size: 2.5em;
}

.gong-head-box {
    position: fixed;
    background-color: grey;
    top : 135px;
    left : 420px;
    width: 160px;
    height: 5px;
}