.tg  {
    border-collapse:collapse;
    border-spacing:0;
    top: 200px;
}

.tg td{
    border-color:black;
    border-style:solid;
    border-width:1px;
    overflow:hidden;
    padding:10px 5px;
    word-break:normal;
   
    
}

.tg th{
    border-color:black;
    border-style:solid;
    border-width:1px;
    overflow:hidden;
    padding:10px 5px;
    word-break:normal;
    
}

.tg-0pky {
    width: 200px;
    text-align: center;
    font-size: 25px;
    background-color: #293F54;
    color: white;
    height: 55px;
    font-weight:bold;
}

.tg-0lax{
    border-color:inherit;
    text-align:left;
    vertical-align:middle;
    font-size: 20px;
    
}

#cb1 {
    margin-left: 40px;
    width: 20px;
    height: 20px;
}

#cb2 {
    margin-left: 20px;
    margin-right: 10px;
    width: 20px;
    height: 20px;
}


#date1 {
    font-size: 20px;
    margin-left: 40px;
    height: 35px;
    width: 200px;
}

#date2 {
    font-size: 20px;
    height: 35px;
    width: 200px;
}

/* 검색어 박스 */
.member-bar {
    width: 550px;
    margin-left: 15px;
    font-size: 20px;
    height: 30px;
    margin-left: 40px;
}

/* 검색 버튼 */
.member-button {
    position : fixed;
    top: 450px;
    left : 850px;
    width: 125px;
    height: 50px;
    font-size: 25px;
    background-color :#293F54;
    color: white;
    box-shadow: 2px 2px 2px 2px rgb(0,0,0,0.5);
    border-radius: 8px;
}

/* 검색버튼 마우스오버 */
.member-button:hover{
    background:whitesmoke;
    color: #293F54;
}

/* 검색버튼 클릭*/
.member-button:active {
    font-size: 20px;
    box-shadow: 1px 1px 0 rgb(0,0,0,0.5);
    position: fixed;
    top:452px;
}

.tg2  {
    border-collapse:collapse;
    border-spacing:0;
    top: 550px;
}


.tg2 td{
    border-color:black;
    border-style:solid;
    border-width:1px;
    font-size:20px;
    overflow:hidden;
    padding:10px 5px;
    word-break:normal;
    height: 50px;
}


.tg2 th{
    border-color:black;
    border-style:solid;
    border-width:1px;
    font-size:20px;
    font-weight:normal;
    overflow:hidden;
    padding:10px 5px;
    word-break:normal;
}


.tg2 .tg2-lboi{
    font-size: 30px;
    font-weight: bold;
    border-color:inherit;
    text-align:center;
    vertical-align:middle
}


.tg2 .tg2-0pky{
    font-size: 25px;
    border-color:inherit;
    text-align:left;
    vertical-align:top
    
}


.headline2 {
    background-color: #293F54;
    color: white;
    text-align: center;
}

.rq-head{
    position: fixed;
    color: black;
    top : 80px;
    left : 420px;
    font-size: 2.5em;
}

.rq-head-box {
    position: fixed;
    background-color: #00BFFF;
    top : 135px;
    left : 420px;
    width: 160px;
    height: 5px;
}

.rev-head{
    position: fixed;
    color: grey;
    top : 80px;
    left : 250px;
    font-size: 2.5em;
}

.rev-head-box {
    position: fixed;
    background-color: grey;
    top : 135px;
    left : 250px;
    width: 160px;
    height: 5px;
}


