<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/css/admin/post/event.css}">
    <link rel="stylesheet" th:href="@{/css/admin/Adminstyle.css}">
    <link href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Gamja+Flower&family=Gowun+Dodum&family=Poor+Story&display=swap" rel="stylesheet">
    <link rel ="icon" type="image/x-icom" th:href="@{/images/common/HEQXSRYC.ico}">
</head>
<body>

	 <div th:replace="admin/common/header.html"></div>
   
    <div class="gong-head-box"></div>
    <div class="event-head-box"></div>
      <a class="gong-head">이벤트</a>
      <a class="event-head" th:href="@{/admin/post/list}">공지사항</a>
    
    <button class="member-button" onclick="location.href='/admin/event/regist'">등록</button>
    <button class="btn-del">삭제</button>
    <table class="tg2">
        <thead>
          <tr class="headline2">
            <th class="tg2-lboi"></th>
            <th class="tg2-lboi">번호</th>
            <th class="tg2-lboi">제목</th>
            <th class="tg2-lboi">관리자</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="tg2-0pkq">
              <input type="checkbox" id="cb2">
              <label for="cb1"></label></td>
            <td class="tg2-0pky">001</td>
            <td class="tg2-0pky">새 이벤트를 등록하려면 위의 등록 버튼을 클릭하세요</td>
            <td class="tg2-0pky">관리자1</td>
          </tr>
          <tr th:each="event : ${ eventList }"
          	  th:onclick="|location.href='/admin/event/detail?eventCode=${event.postCode}'|">
			<td class="tg2-0pkq">
              <input type="checkbox" id="cb2">
              <label for="cb1"></label>
            </td>
			<td th:text="${ event.postCode }"></td>
			<td th:text="${ event.postTitle }"></td>
			<td th:text="${ event.member.memberName }"></td>
		  </tr>
        </tbody>
        </table>  
        <div id="paging" align="center">

			<th:block th:if="${ searchValue != null }">
				<!-- 맨 앞으로 이동 -->
				<button
					th:onclick="'location.href=\'/admin/event/list?page=' + @{${paging.startPage}} + '&searchValue=' + @{${searchValue}} + '\''"><<</button>

				<!-- 이전 페이지로 이동 -->
				<button
					th:onclick="'location.href=\'/admin/event/list?page=' + @{${paging.currentPage - 1}} + '&searchValue=' + @{${searchValue}} + '\''"
					th:disabled="${ eventList.first }"><</button>

				<!-- 숫자 버튼 -->
				<th:block
					th:each="page : ${ #numbers.sequence(paging.startPage, paging.endPage)}">
					<button
						th:onclick="'location.href=\'/admin/event/list?page=' + @{${page}} + '&searchValue=' + @{${searchValue}} + '\''"
						th:text="${ page }" th:disabled="${ paging.currentPage eq page }">
					</button>
				</th:block>

				<!-- 다음 페이지로 이동 -->
				<button
					th:onclick="'location.href=\'/admin/event/list?page=' + @{${paging.currentPage + 1}} + '&searchValue=' + @{${searchValue}} + '\''"
					th:disabled="${ eventList.last }">></button>

				<!-- 맨 끝으로 이동 -->
				<button
					th:onclick="'location.href=\'/admin/event/list?page=' + @{${paging.endPage}} + '&searchValue=' + @{${searchValue}} + '\''">>></button>

			</th:block>
			
			<th:block th:if="${ param.searchValue == null || param.searchValue.isEmpty() }">
				<!-- 맨 앞으로 이동 -->
				<button
					th:onclick="'location.href=\'/admin/event/list?page=' + @{${paging.startPage}} + '\''"><<</button>

				<!-- 이전 페이지로 이동 -->
				<button
					th:onclick="'location.href=\'/admin/event/list?page=' + @{${paging.currentPage - 1}} + '\''"
					th:disabled="${ eventList.first }"><</button>
				
				<!-- 숫자 버튼 -->
				<th:block
					th:each="page : ${ #numbers.sequence(paging.startPage, paging.endPage)}">
					<button
						th:onclick="'location.href=\'/admin/event/list?page=' + @{${page}} + '\''"
						th:text="${ page }" th:disabled="${ paging.currentPage eq page }">
					</button>
				</th:block>

				<!-- 다음 페이지로 이동 -->
				<button
					th:onclick="'location.href=\'/admin/event/list?page=' + @{${paging.currentPage + 1}} + '\''"
					th:disabled="${ eventList.last }">></button>
				
				<!-- 맨 끝으로 이동 -->
				<button
					th:onclick="'location.href=\'/admin/event/list?page=' + @{${paging.endPage}} + '\''">>></button>
			</th:block>
			
		</div>
</body>
</html>