<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/css/admin/inquiry/review.css}">
    <link rel="stylesheet" th:href="@{/css/admin/Adminstyle.css}">
    <link href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Gamja+Flower&family=Gowun+Dodum&family=Poor+Story&display=swap" rel="stylesheet">
    <link rel ="icon" type="image/x-icom" th:href="@{/images/common/HEQXSRYC.ico}">
    <script>
		const message = '[[${message}]]';
		message && alert(message);
	</script>
</head>
<body>
   
   <div th:replace="admin/common/header.html"></div>
   
    <div class="rq-head-box"></div>
    <div class="rev-head-box"></div>
      <a class="rq-head" th:href="@{/admin/inquiry/list}">문의 관리</a>
      <a class="rev-head">리뷰 관리</a>
    <table class="tg">
        <tbody>
          <tr>
            <td class="tg-0pky">문의날짜</td>
            <td class="tg-0lax">
                <a>
                    <input type="date" id="date1">
                    <label for="date1"></label>
                    &nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;
                    <input type="date" id="date2">
                    <label for="date1"></label>
                </a>
            </td>
          </tr>
          
          <tr>
            <td class="tg-0pky">문의상태</td>
            <td class="tg-0lax">
                <a>
                    <input type="checkbox" id="cb1">
                    <label for="cb1"></label>
                    답변완료&nbsp;&nbsp;&nbsp;
                    <input type="checkbox" id="cb2">
                    <label for="cb1"></label>
                    미완료&nbsp;&nbsp;&nbsp;
                </a>
            </td>
          </tr>
          <tr>
            <td class="tg-0pky">검색어</td>
            <td class="tg-0lax">
                <input type="text" class="member-bar" placeholder="고객 아이디를 입력하세요">
            </td>
          </tr>
        </tbody>
    </table>
    <button class="member-button">검색</button>
    <table class="tg2">
        <thead>
          <tr class="headline2">
            <th class="tg2-lboi">번호</th>
            <th class="tg2-lboi">제목</th>
            <th class="tg2-lboi" id="manager">관리자</th>
            <th class="tg2-lboi">상태</th>
          </tr>
        </thead>
        <tbody>
        	<tr class="contentline2" th:each="review : ${ reviewList }"
				th:onclick="|location.href='/admin/review/detail?reviewCode=${review.reviewCode}'|"
				style="cursor:pointer;">
				<td  th:text="${ review.reviewCode }"></td>
				<td th:text="${ review.reviewTitle }"></td>
				<td th:text="${ review.member.memberId }"></td>
				<td th:text="${ review.reviewStatus }"></td>
		    </tr>
        </tbody>
        </table>  
</body>
</html>