<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/css/admin/Adminstyle.css}">
    <link rel="stylesheet" th:href="@{/css/admin/inquiry/detailreview.css}">
    <link href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Gamja+Flower&family=Gowun+Dodum&family=Poor+Story&display=swap" rel="stylesheet">
    <link rel ="icon" type="image/x-icom" th:href="@{/images/common/HEQXSRYC.ico}">
    <script>
		const message = '[[${message}]]';
		message && alert(message);
	</script>
</head>
<body>
   
    <div th:replace="admin/common/header.html"></div>
    
    <div class="rq-head-box"></div>
    <div class="rev-head-box"></div>
    <a class="rq-head" th:href="@{/admin/inquiry/list}">문의 관리</a>
    <a class="rev-head">리뷰 관리</a>

    <section>
        <div class="head-top">
            <div class="logout-content">
                <a>로그아웃</a>
            </div>
            <div class="logout-img">
                <a><img th:src="@{/images/admin/logout.png}"></a>
            </div>
        </div>
    </section>
    
    <div class="wrapper-up">
        <div class="msbox-up">
            <div class="ms-up">상품 정보 : </div>
            <br>
            <div class="rq-box" th:text="${ review.reviewContent}"></div>
            <div id="report-box" >
            	<div class="flexdiv">
            		<div id="reportdiv">리뷰 상태 :</div> <div th:text="${ review.reviewStatus}" id="detailReview"></div> 
            	</div>
            	<div class="flexdiv">
            		<div id="reportdiv">신고 사유 : </div><div th:text="${ review.reasonReported}" id="detailReview"></div>
            	</div>
            </div>
            <div id="deleteBox">
            
            <span th:if="${review.getReviewStatus().toString().equals('Y')}">
        		<!-- 
        		
        		 -->
        		<button class="btn-Nodel" type="button">삭제 불가</button>
        	</span>
            
        	<span th:if="${review.getReviewStatus().toString().equals('N')}">
        		<button class="btn-del" type="button" th:onclick="|location.href='/admin/review/delete?reviewCode=${review.reviewCode}'|">삭제</button>
        	</span>
        	
        </div>
    </div>
    <div class="wrapper-down">
        <div class="msbox-down">
            <div class="ms-down">답변</div><br>
        </div>
    </div>
    
    <table id="replyWrite">
		<input type="hidden" id="reviewCode" th:value="${review.reviewCode}"/>
		<input type="hidden" id="member.memberNo" th:value="${review.member.memberNo}"/>
			<tr>
				<td style="border:none;"><textarea cols="40" rows="3" id="replyReviewContent" 
				style="resize:none;
				position: fixed;
					   width: 70%;
					   margin-left:5px;
					   height: 180px;
					   margin-top:-400px;"></textarea ></td>
				<td style="border:none;
						   float: right;
						   margin-top:50%;"><button type="button" id="registReply" class="member-button"
					 >작성하기</button></td>
			</tr>
	</table>
	
	<table id="replyResult" style="margin-top: 32%;
								   width:100%;
								   margin-left:-0.001px;
								   "></table>
    
    <script>
		loadReply();
		
		function loadReply() {
			
			if(document.getElementById("reviewCode")) {
				
				fetch("/admin/review/loadReply?refReviewNo=" + document.getElementById("reviewCode").value)
				.then(result => result.json())
				.then(data => {
					makeReplyTable(data);
				})
				.catch(error => console.log(error));
				
			}
			
		}
		
		if(document.getElementById("registReply")) {
			
			const $registReply = document.getElementById("registReply");
			const $replyReviewContent = document.getElementById("replyReviewContent");
			
			$registReply.onclick = function() {
				
				const reviewCode = document.getElementById("reviewCode").value;
				const replyReviewContent = $replyReviewContent.value;
				
				fetch("/admin/review/registReply", {
					method: "POST",
					headers: {
						'Content-Type': 'application/json;charset=UTF-8'
					},
					body: JSON.stringify({
						refReviewNo: reviewCode,
						replyReviewContent: replyReviewContent
					})
				})
				.then(data => {
					console.log(data);
					loadReply();
				})
				.catch(error => console.log(error));
			}
		}
		
		
		function removeReply(replyNo) {
			
			fetch("/admin/review/removeReply", {
				method: "POST",
				headers: {
					'Content-Type': 'application/json; charset=UTF-8'
				},
				body: JSON.stringify({
					replyNo: replyNo
				})
			})
			.then(result => {
				console.log(result);
				loadReply();
			})
			.catch(error => console.log(error));
			
		}
		
		
		
		function makeReplyTable(replyList) {
			
			const $table = document.querySelector("#replyResult");
			$table.innerHTML = '';
			
			replyList.forEach(reply => {
				const $tr = document.createElement('tr');
				const $replyReviewContentTd = document.createElement('td');
				const $memberNameTd = document.createElement('td');
				const $replyRegistDateTd = document.createElement('td');
				const $buttonTd = document.createElement('td');
				
				$replyReviewContentTd.textContent = reply.replyReviewContent;
				$memberNameTd.textContent = reply.member.memberName;
				$replyRegistDateTd.textContent = reply.replyRegistDate;
				
				if('[[${#authentication.principal.memberNo}]]' == reply.member.memberNo) {
					$buttonTd.innerHTML = `<button type='button' onclick='removeReply(${reply.replyNo})'>댓글삭제</button>`;
				}
				
				$tr.append($replyReviewContentTd, $memberNameTd, $replyRegistDateTd, $buttonTd);
				$table.append($tr);
			});
			
		}
		
		
	</script> 
    
    
</body>
</html>