<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">  
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/main-contents.css">
    <link rel="stylesheet" href="/css/user/productDetail/review.css">
    <link rel="stylesheet" href="/css/user/productDetail/select.css">
    <link rel="stylesheet" href="/font/Cafe24Ssurround.ttf">
    
</head>

    <title>Let'sGE</title>
</head>
<body data-spy="scroll" data-target=".navbar" data-offset="50">
    <!-- 헤더부분 -->
     <div th:replace="user/common/header.html"></div>
 
 	<!-- 컨텐츠 부분 -->

	        <div id="decontainer">
	        <h1>게시글 보기</h1>
	        	<table id="tbdetail" action="/user/productDetail/detail/inquiry" border="0" method="post">
	        		<tr>
	        			<td>작성자</td>
	        			<td th:text="${ inquiry.member.memberName }"></td>
	        		</tr>
	        		<tr>
	        			<td>제목</td>
	        			<td th:text="${ inquiry.inquiryTitle }"></td>
	        		</tr>
	        		<tr>
	        			<td>문의 유형</td>
	        			<td th:text="${ inquiry.inquiryType.inquiryTypeNo }"></td>
	        		</tr>
	        		<tr>
	        			<td>내용</td>
	        			<td th:text="${ inquiry.inquiryContent }"></td>
	        		</tr>
	        	</table>
	        	<button type="submit" onclick="" class="btn-sl">수정</button>
        		<button type="submit" value="메인으로" class="btn-sl2">뒤로가기</button>
	        </div>

    <!-- 푸터 부분 -->
 <div th:replace="user/common/footer.html"></div>
 </body>
 </html>