<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">  
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/main-contents.css">
    <link rel="stylesheet" href="/css/user/productDetail/select.css">
    <link rel="stylesheet" href="/font/Cafe24Ssurround.ttf">
    
</head>

    <title>Select</title>
</head>
<body data-spy="scroll" data-target=".navbar" data-offset="50">
    <!-- 헤더부분 -->
    <div th:replace="user/common/header.html"></div>
 
 <!-- 컨텐츠 부분 -->
 <div class="container">
    <h1>문의 등록</h1>
    <form th:action="@{/user/productdetail/inquiry/regist}" th:method="post" enctype="multipart/form-data">      
  		<table id="textbox" border="0">
        	<tr>
        		<tr>
        		<td>제목</td>
        			<td><input type="text" class="titlebox" placeholder="제목을 입력하세요" name="inquiryTitle"></td>
        		</tr>
        		<tr>
        		<td>문의 유형 번호</td>
        			<td><input type="number" class="titlebox" placeholder="유형번호를 입력하세요" name="inquiryType.inquiryTypeNo"></td>
        		</tr>
        		<tr>
        		<td>상품 번호</td>
        			<td><input type="number" class="titlebox" placeholder="상품번호를 입력하세요" name="product.productCode"></td>
        		</tr>
        		<tr>
        			<td>내용</td>
        			<td>
        				<textarea class="postbox" rows="20" placeholder=" 1(배송문의) | 2(상품문의) | 3(결제문의) | 4(환불/취소문의) | 5(계정문의) | 6(기타문의) | 상세하게 작성 부탁드립니다.(최대 2000자)" name="inquiryContent"></textarea>
        			</td>
        		</tr>
        </table>
         <input type="submit" value="등록" class="btn-sl">
   </form>
  </div>

       <!-- 푸터 부분 -->
<div th:replace="user/common/footer.html"></div>
 </body>
 </html>