<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">  
    <link rel="stylesheet" href="../source/css/main-contents.css">
    <link rel="stylesheet" href="../source/css/main.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <link rel="stylesheet" href="../source/css/select.css">
    <link rel="stylesheet" href="../source/font/Cafe24Ssurround.ttf">
    
</head>

    <title>Select</title>
</head>
<body data-spy="scroll" data-target=".navbar" data-offset="50">
    <!-- 헤더부분 -->
    <div th:replace="user/common/header.html"></div>
 
 <!-- 컨텐츠 부분 -->
 <div class="container">
    <h1>문의 등록</h1>
    <form action="/user/productdetail/regist" th:method="post" enctype="multipart/form-data">
        <select name="support" id="for-select">
            <option value="">유형선택</option>
            <option value="배송문의">배송문의</option>
            <option value="상품문의">상품문의</option>
            <option value="환불/결제취소">환불/결제취소</option>
            <option value="신고">신고</option>
            <option value="기타문의">기타문의</option>
        </select>
        </form>
        <form id="textbox">
            <input type="text" class="titlebox2" placeholder="제목을 입력하세요">
            <br>
        <input type="text" class="postbox" placeholder="내용을 입력하세요">
        <input type="submit" class="btn-sl" value="등록">
    </form>    
    
    
        
        <button type="submit" onclick="location.href='/user/productdetail/product-list';" class="btn-sl2">뒤로가기</button>
  </div>

       <!-- 푸터 부분 -->
<div th:replace="user/common/footer.html"></div>
 </body>
 </html>