<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<link rel="stylesheet" href="/css/user/main.css">
<link rel="stylesheet" href="/css/user/info/findPwd.css">
<meta charset="UTF-8">
<title>굿잇 : 맛있게 건강해지고 싶다면? Let's GoodEat!</title>
</head>
<body>

	<script>
	    const message = '[[${message}]]';
	    message && alert(message);
	</script>
	
	<div th:replace="user/common/header.html"></div>

   <section id="con-wrap">
        <h1 id="find-password" class="text">비밀번호 찾기</h1>
            <form id="findform" method="post" onsubmit="return findInfo()">
                <input type="text" name="memberId" id="memberId" class="text-field text" placeholder=" 아이디를 입력하세요"><br>
                    <input type="email" name="email" id="email" class="text-field text" placeholder=" 이메일을 입력하세요"><br>
                <br><br>
                <input type="image" src="/images/user/info/findbutton.png" id="submitButton"/>
                <a th:href="@{/login}"><img src="/images/user/info/cancelbutton.png" id="cancelButton"/></a>
            </form>
    </section>
    
    <div th:replace="user/common/footer.html"></div> 
    
    <script>
    
    var id_RegExp = /^[a-zA-Z0-9]{4,10}$/;
    var e_RegExp = /^[a-zA-Z0-9+-\_.]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$/;
    
    const id = document.getElementById("memberId");
    const emailAddress = document.getElementById("email");
    
    /* 아이디, 이메일 유효성 검사 */
    function findInfo(){
    	
	   	 if(!id_RegExp.test(id.value.trim()) || id.value.trim() == ''){
			 alert('아이디 형식에 맞지 않습니다.');
			 id.focus();
			 return false;
	   	 }
	    
	   	 if(!e_RegExp.test(emailAddress.value.trim()) || emailAddress.value.trim() == ''){
			 alert('이메일 형식에 맞지 않습니다.');
			 email.focus();
			 return false;
	   	 }	 
    }
    
    </script>
    

</body>
</html>