*{
    margin: 0;
    padding: 0;
    font-family: 'Cafe24Ssurround';
    box-sizing:border-box;
    list-style:none;
}
@font-face {
    font-family: "Cafe24Ssurround";
    src: url("../source/font/Cafe24Ssurround.ttf") format("truetype");
    font-weight: normal;
  }

ul{
    list-style: none;
}

li {
    text-align: center;
}

a{
    text-decoration: none;
    color: inherit;
}
/* 헤더부분 */
header{
    background: rgb(253, 253, 253);
    height: 218px;
    border-bottom: 1px solid#000;
}

.main-nav{
   float: right;
   margin-top: 20px;
   color: black;
   
}

.main-nav ul>li{
    float: left;
    padding-right: 24px;
    color: black;
    
}

.img-link{
    padding-top: 50px;
}

.logo{
    margin-top: 0px auto 40px 20px;
}

.logo>a{
    margin-left: 40px;
}

.base>ul{
    margin: auto 150px;
}

.item{
    text-align: center;
    float: left; 
    width: 200px;
    height: 50px;
    font-size: 26px;
    padding-top: 10px;
    
}

.item > ul{
    position: absolute;
    display: none;
    text-align: center;
    width: 200px;
    background-color: rgb(251, 251, 253);
    margin-left: 0;
    margin-top: 10px;
    padding: 50px 12px auto;
}

.item>p{
    cursor: pointer;
}

.item:hover{
    border-bottom: 4px solid #FF985F;
}

.item:hover > ul{
    display: block;
}

.item>img{
    padding-top: 100px;
}

.item-menu{
    text-align: center;
    margin-left: 18px;
    width: 240px;
}

.item-menu>li:hover{
    border-bottom: 4px solid #FF985F;
}

.serch-center{
    top:100px;
    left:700px;
    position: absolute;
}

.serch-center>input{
    width: 400px; 
    height: 50px;
    box-sizing: border-box;
    background: #FFFFFF;
    border: 3px solid #FF985F;
    border-radius: 4px;
}
.img-btn{
    width: 120px;
    height: 50px;
    background-color: #FF985F;
    border: solid 1px #df4e00;
    border-radius: 4px;
    font-size: 20px;
}

.img-btn:hover{
    background-color: #df4e00;
    cursor: pointer;
    color: #FFFFFF;
}

/* 컨텐츠 */
@font-face {
    font-family: 'Cafe24SsurroundAir';
    src: url("../source/font/Cafe24SsurroundAir.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

.text-field {
    width: 350px; 
    height: 50px;
    font-family: 'Cafe24SsurroundAir';
    font-size: 0.85em;
    padding: 10px;
}

#id {
    width: 270px; 
}

#email {
    width: 230px
}

#zip-code {
    width: 100px; 
    height: 50px;
    font-family: 'Cafe24SsurroundAir';
    font-size: 0.85em;
}

#search-address{
    width: 245px; 
    height: 50px;
    font-family: 'Cafe24SsurroundAir';
    font-size: 0.85em;
}

#detail-address {
    width: 270px; 
    height: 50px;
    font-family: 'Cafe24SsurroundAir';
    font-size: 0.9em;
}

#email-address {
    padding: 14px 5px;
}

table {
    margin-left:auto; 
    margin-right:auto;
}

select {
    font-size: 0.85em;
    font-family: 'Cafe24SsurroundAir';
}

#year {
    padding: 14px 18px;
}

#month, #day {
    padding: 14px 19px;
}

.button {
    font-family: 'Cafe24SsurroundAir';
    background-color: white;
    border: 1px solid gray;
    border-radius: 3%;
}

.id-button {
    padding: 15px 11px;
}

.search-button {
    padding: 15.5px 24.3px;
}

.email-button {
    padding: 15.5px 24px;
}

select > option {
    font-family: 'Cafe24SsurroundAir';
}

table, td, th, label {
    border-collapse : collapse;
    font-family: 'Cafe24SsurroundAir';
    font-size: 1.05em;
    padding-left: 10px;
    padding-bottom: 5px;
};

#con-wrap{
    text-align: center;
    border-bottom: 1px solid gainsboro;
}

#registPage {
    padding-top: 2em;
    padding-bottom: 3em;
    background-color: rgba(255, 241, 221, 1);
}

#regist {
    font-family: 'Cafe24SsurroundAir';
    font-size: 3.5em;
    margin-block-end: 0.1em;
    text-align: center;
}

.links {
    font-family: 'Cafe24SsurroundAir';
    border-bottom: 1px gray solid;
    font-size: 1.04em;
}

#join-img {
    margin-top: 5px;
    text-align: center;
}

/* 푸터 */
footer{
    background: rgb(253, 253, 253);
}

.foot-logo{
    padding-top: 20px;
    padding-left: 20px;
}

.cop{
    text-align: center;
    margin: 0;

}

.foot-menu{
    
    position: relative;
    float: right;
    padding-right: 10px;
    padding-bottom: 30px;

}

.foot-menu ul>li{
    float: left;
    padding-left: 10px;
    padding-right: 14px;
}

