<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../mainpage(수정ver.2)/source/css/header.css">
    <link rel="stylesheet" href="../mainpage(수정ver.2)/source/css/main.css">
    <link rel="stylesheet" href="../mainpage(수정ver.2)/source/css/footer.css">
    <link rel="stylesheet" href="../mainpage(수정ver.2)/source/css/main-contents.css">
    <link rel="stylesheet" href="../mainpage(수정ver.2)/source/css/slide.css">
    <script src="https://www.w3schools.com/lib/w3.js"></script>
    <title>Document</title>
</head>
<body>
    <header w3-include-html="header.html"></header>
    <content w3-include-html="slide-content.html"></content>
    <content w3-include-html="content.html"></content>
    <content w3-include-html="product-list"></content>
    <footer w3-include-html="footer.html"></footer>
</body>
<script>
    w3.includeHTML();
</script>
</html>