@charset "utf-8";
/* 전체페이지 적용 */
*{
	margin:0;
	padding:0;
	list-style:none;
	box-sizing:border-box;
    font-family: 'Gowun Dodum', sans-serif;
}

@font-face { 
    font-family: "BHS";
    src: url("/관리자페이지/resources/font/BlackHanSans-Regular.ttf");
}


a{text-decoration:none;color:inherit;}
.clear{clear:both;}

ul{
    list-style: none;
}

ul > li {
    text-align: center;
}

.logo {
    width: 150px;
    margin-left: 20px;
}

/* header(헤더) */
.head-top{
    background-color:rgb(223, 219, 219);
    position: fixed;
    top: 0;
    /* width: 100% */
    left: 0;
    right: 0;
    height: 5vh;
    
}

/* left-box(좌측메뉴) */
#container{
    z-index: 10;
    background-color:#293F54;
    width:220px;
    height: 100vh;
    top: 0;
    position: relative;
}

#top-menu{
    color:#EDEDED;
}
/* 프로필부분 */
.top-logo{
    padding: 8px 0 0 90px;
}

.box{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
    margin-top: 40px;
    margin-left: 14px;
}

.profile{
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}

.name-menu{
    position: absolute;
    left: 57%;
    top: 17%;
}
.name-menu{
    cursor: pointer;
}

/*menu bar*/
.menu-base{
    text-align: center;
    padding-top: 24px;
    padding-left: 3%;
}

.sub-menu{
    text-align: center;
    /* border: 1px solid black; */
    width: 97%;
    padding: 8%;
    box-shadow: 2px 2px 2px 2px #1f1f1f;
    color: white;
    font-size: 1.7em;
}

.sub-menu ul{
    border: 1px solid black;
    display: none;
}

/* menu-hover부분 */
.sub-menu:hover{
    
    color: #304354;
    background-color: rgb(213, 212, 255);
    cursor:pointer;
    box-shadow: 2px 2px 2px 2px #1f1f1f;
    
}
.sub-menu-select{
    color: #304354;
    background-color: rgb(213, 212, 255);
    cursor:pointer;
    box-shadow: 2px 2px 2px 2px #1f1f1f;
    width: 97%;
    padding: 8%;
    font-size: 1.7em;
}

.menu-base-a {
    font-size: 1.7em;
}

.logout-content{
    margin-top: 6px;
    font-size: 20px;
    float: right;
    margin-right: 10px;
    
}

.logout-img{
    margin-top: 6px;
    float: right;
    
}

/*표만들기*/
.productTable1 {
    width: 80%;
    border: 1px ;
    margin-left: 250px;
    position: absolute;
    top: 20%;
    border-collapse:collapse;
    border-spacing:0;
  }
  
.productTable3 {
    width: 80%;
    border: 1px ;
    margin-left: 250px;
    position: absolute;
    top: 56.8%;
    border-collapse:collapse;
    border-spacing:0;
  }
  
.productTable4 {
    width: 80%;
    border: 1px ;
    margin-left: 250px;
    position: absolute;
    top: 15%;
    border-collapse:collapse;
    border-spacing:0;
  }

  th, td {
    border: 1px solid #444444;
  }

  .product-title{
    margin-left: 250px;
    position: absolute;
    top: 6%;
    font-size: 50px;

  }

  .search-title{
    margin-left: 250px;
    position: absolute;
    top: 15%;
    font-size: 30px;

  }

  .td-left-class{
    width: 150px;
    font-size: 30px;
    background-color:#293F54;
    color: white;
    text-align: center;
  }

  .td-right-class{
    font-size: 25px;
  }

  #check1{
    margin-left: 30px;
    width: 20px;
    height: 20px;
  }

  #searchbox1{
    margin-left: 10px;
    width: 400px;
    height: 30px;
    margin-bottom: 10px;
    margin-top: 10px;
  }

  #productButton1{
    width: 250px;
    height: 40px;
    border: 1px ;
    left: 45%;
    position: absolute;
    top: 37%;
    background-color:#293F54;
    color: white;
    font-size: 25px;

  }

  .productTable2 {
    width: 80%;
    border: 1px ;
    margin-left: 250px;
    position: absolute;
    top: 45%;
    border-collapse:collapse;
    border-spacing:0;

  }


  .tr-top{
    width: 150px;
    font-size: 30px;
    background-color:#293F54;
    color: white;
    text-align: center;   
  }

  .tr-body{
    width: 150px;
    font-size: 30px;
    text-align: center;
  }

  #productButton2{
    width: 150px;
    height: 40px;
    border: 1px ;
    position: absolute;
    top: 40%;
    left:85%;
    background-color:#293F54;
    color: white;
    font-size: 25px;

  }

  #searchbox2{
    margin-left: 10px;
    width: 400px;
    height: 80px;
    margin-bottom: 10px;
    margin-top: 10px;
  }

  .selectBox{
    margin-left: 10px;
    width: 400px;
    height: 30px;
    margin-bottom: 10px;
    margin-top: 10px;

  }

  #productButton3{
    width: 100px;
    height: 30px;
    border: 1px ;
    background-color:#293F54;
    color: white;
    margin-left: 10px;

  }

  #productButtonDelete{
    width: 150px;
    height: 40px;
    border: 1px ;
    position: absolute;
    top: 70%;
    left:85%;
    background-color:red;
    color: white;
    font-size: 25px;
  }
  #productButtonList{
    width: 150px;
    height: 40px;
    border: 1px ;
    position: absolute;
    top: 70%;
    left:76%;
    background-color:#293F54;
    color: white;
    font-size: 25px;

  }
  #productButtonSave{
    width: 150px;
    height: 40px;
    border: 1px ;
    position: absolute;
    top: 70%;
    left:67%;
    background-color:#293F54;
    color: white;
    font-size: 25px;

  }
  
  #paging{
  
  	width: 80%;
    border: 1px ;
    margin-left: 250px;
    position: absolute;
    top: 97%;
    border-collapse:collapse;
    border-spacing:0;
  	
  }

  

  

