<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>굿잇 : 맛있게 건강해지고 싶다면? Let's GoodEat!</title>
    <link href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Gamja+Flower&family=Gowun+Dodum&family=Poor+Story&display=swap" rel="stylesheet">
   <link rel="stylesheet" th:href="@{/css/admin/member/member.css}">
   <link rel="stylesheet" th:href="@{/css/admin/product/product.css}">
   <link rel="icon" type="image/x-icom" th:href="@{/images/common/HEQXSRYC.ico}">
</head>
<body>
    
    <div th:replace="admin/common/header.html"></div>
    
    <div class="member-wrapper">
        <a class="member-management-message">회원관리</a>
        <div class="member-search-box-date">
          <a class="member-search-box-date-message">가입일</a>
        </div>
        <div class="member-input">
            <input type="date" placeholder="yyyy-MM-DD" class="member-inputbox1">
            <div class="member-pbox">
                <p> - </p>
            </div>    
            <input type="date" placeholder="yyyy-MM-DD" class="member-inputbox2">
        </div>
    </div> 
	 <form id="searchForm" th:action="@{/admin/member}" method="get">
	    <div class="member-wrapper2">
	        <div class="member-search-box-date2">
	          <a class="member-search-box-date-message2">검색어</a>
	        </div>
	        <div class="member-input2">
	        	<th:block th:if="${ searchValue != null }">
					<input type="search" id="searchValue" name="searchValue" placeholder="회원명을 입력해주세요"
							th:value="${ searchValue }" class="member-bar">
					</th:block>
					<th:block th:if="${ searchValue == null }">
						<input type="search" id="searchValue" name="searchValue" class="member-bar" placeholder="회원명을 입력해주세요">
				</th:block>
	        </div>
		</div>
	    <button class="member-button" type="submit">검색</button>
	  </form>
    
    		<table class="productTable2">
    			<tr class="tr-top">
    				<th style="width: 180px; size:2em; height:50px;">회원번호</th>
    				<th style="width: 150px; size:2em; height:50px;">회원명</th>
    				<th style="width: 200px; size:2em; height:50px;">아이디</th>
    				<th style="width: 350px; size:2em; height:50px;">이메일</th>
    				<th style="width: 330px; size:2em; height:50px;">전화번호</th>
    				<th style="width: 230px; size:2em; height:50px;">가입일</th>
    			</tr>
    			 <tr class="tr-body" th:each="member : ${ memberList }">
                    <td th:text="${ member.memberNo }"></td>
                    <td th:text="${ member.memberName}"></td>
                    <td th:text="${ member.memberId }"></td>
                    <td th:text="${ member.email }"></td>
                    <td th:text="${ member.phone }"></td>
                    <td th:text="${ member.joinDate }"></td>
                </tr>
    		</table>
    
            
     <div id="paging" align="center">
		<!-- 맨 앞으로 이동 -->
		<button th:onclick="'location.href=\'/admin/membe?page=' + @{${paging.startPage}} + '\''"></button>
		
		<!-- 이전 페이지로 이동 -->
		<button th:onclick="'location.href=\'/admin/member?page=' + @{${paging.currentPage - 1}} + '\''"
				th:disabled="${ memberList.first }"></button>
		
		<!-- 숫자버튼 -->
		<th:block th:each="page : ${ #numbers.sequence(paging.startPage, paging.endPage)}">
			<button th:onclick="'location.href=\'/admin/member?page=' + @{${page}} + '\''"
					th:text="${ page }"
					th:disabled="${ paging.currentPage eq page }">
			</button>
		</th:block>
		
		<!-- 다음 페이지로 이동 -->
		<button th:onclick="'location.href=\'/admin/member?page=' + @{${paging.currentPage + 1}} + '\''"
				th:disabled="${ memberList.last }">></button>
		
		<!-- 맨 끝으로 이동 -->
		<button th:onclick="'location.href=\'/admin/member?page=' + @{${paging.endPage}} + '\''"></button>			
	</div>
    
    
       
    

    
</body>
</html>