<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>상품관리</title>
    <link href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Gamja+Flower&family=Gowun+Dodum&family=Poor+Story&display=swap" rel="stylesheet">
   <link rel="stylesheet" th:href="@{/css/admin/product/product.css}">
   <link rel="icon" type="image/x-icom" th:href="@{/images/common/HEQXSRYC.ico}">
</head>
<body>

	<div th:replace="admin/common/header.html"></div>
  
    <section>
        <div class="product-title">
            <a>상품수정</a>
        </div>
         <form action="/admin/productModify" method="post">
                 <table class="productTable4">
           
                <tbody>
                  <tr>
                    <td class="td-left-class">상품코드</td>
                    <td class="td-right-class">
                        <input type="text" th:placeholder= "${ product.productCode }" id="inputBox" name="productCode">
                    </td>
                </tr>
                <tr>
                    <td class="td-left-class">상품명</td>
                    <td class="td-right-class">
                        <input type="text" th:placeholder= "${ product.productName }" id="inputBox" name="productName">
                    </td>
                </tr>
                <tr>
                    <td class="td-left-class">카테고리</td>
                    <td class="td-right-class">
                        <select class="selectBox" name="productCategory.categoryCode">
                            <option value="1">닭가슴살</option>
                            <option value="2">도시락</option>
                            <option value="3">밀키트</option>
                            <option value="4">간편식</option>
                            <option value="5">비건</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td class="td-left-class">상품가격</td>
                    <td class="td-right-class">
                        <input type="text" th:placeholder= "${ product.productPrice }"  id="inputBox" name="productPrice">원
                    </td>
                </tr>
                <tr>
                    <td class="td-left-class">재고</td>
                    <td class="td-right-class">
                        <input type="text" th:placeholder="${ product.productInventory }" id="inputBox" name="productInventory">개
                    </td>
                </tr>
                <tr>
                    <td class="td-left-class">상품설명</td>
                    <td class="td-right-class">
                        <input type="text" th:placeholder="${ product.productDescription }"  id="searchbox2" name="productDescription">
                    </td>
                </tr>
                <tr>
                    <td class="td-left-class">판매상태</td>
                    <td class="td-right-class">
                        <input type="checkbox" id="check1" value="NOMAL" name="productStatus">
                        판매 
                        <input type="checkbox" id="check1" value="SOLDOUT" name="productStatus">
                        품절
                        <input type="checkbox" id="check1" value="HIDDEN"name="productStatus">
                        숨김
                    </td>
                </tr>
                <tr>
                    <td class="td-left-class">대표사진</td>
                    <td class="td-right-class">
                        <input type="submit" value="파일첨부" id="productButton3"></td>
                </tr>
                <tr>
                    <td class="td-left-class">상세사진</td>
                    <td class="td-right-class">
                        <input type="submit" value="파일첨부" id="productButton3"></td>
                </tr>           
            </table>
            <input type="submit" value="저장" id="productButtonSave">
            </form>
            <input type="submit" value="목록으로" id="productButtonList" onclick="location.href='/admin/productList'">
            <input type="submit" value="삭제" id="productButtonDelete">


    </section>


</body>
</html>