<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>상품관리</title>
    <link href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Gamja+Flower&family=Gowun+Dodum&family=Poor+Story&display=swap" rel="stylesheet">
   <link rel="stylesheet" th:href="@{/css/admin/product/product.css}">
   <link rel="icon" type="image/x-icom" th:href="@{/images/common/HEQXSRYC.ico}">
<script>
	const message = '[[${message}]]';
	message && alert(message);
</script>
</head>
<body>
	
	<div th:replace="admin/common/header.html"></div>
    
    <section>
        <div class="product-title">
            <a>상품관리</a>
        </div>
        <div class="search-title">
            <a>검색조건</a>
        </div>
          <!--검색조건 테이블-->
            <table class="productTable1">
                <tbody>
                <tr>
                    <td class="td-left-class">카테고리</td>
                    <td class="td-right-class">
                        <input type="checkbox" id="check1">
                        닭가슴살 
                        <input type="checkbox" id="check1">
                        도시락
                        <input type="checkbox" id="check1">
                        밀키트
                        <input type="checkbox" id="check1">
                        간편식
                        <input type="checkbox" id="check1">
                        비건
                    </td>
                </tr>
                <tr>
                    <td class="td-left-class">판매상태</td>
                    <td class="td-right-class">
                        <input type="checkbox" id="check1">
                        판매 
                        <input type="checkbox" id="check1">
                        품절 
                        <input type="checkbox" id="check1">
                        숨김
                    </td>
                </tr>
               </table>
               <table class="productTable5">
                <tr>
                    <td class="td-left-class">검색어</td>
                    <td class="td-right-class">
                        <form id="searchForm" th:action="@{/admin/productList}" method="get"
					style="display: inline-block">
					<th:block th:if="${ searchValue != null }">
					<input type="search" id="searchValue" name="searchValue"
							th:value="${ searchValue }" class="searchbox1">
					</th:block>
					<th:block th:if="${ searchValue == null }">
						<input type="search" id="searchValue" name="searchValue" class="searchbox1">
					</th:block>
					<button class="btn btn-bs" type="submit" id="productButton1">검색하기</button>
			</form>
                    </td>
                </tr>
                </tbody>
            </table>
            <input type="submit" value="상품등록" id="productButton2" onclick="location.href='/admin/productRegist'">

             <!--검색내용 테이블-->
            <table class="productTable2">
                <tr class="tr-top">
                    <th>상품코드</th>
                    <th>상품명</th>
                    <th>가격</th>
                    <th>카테고리</th>
                    <th>재고</th>
                    <th>판매상태</th>
                </tr>

                <tr class="tr-body" th:each="product : ${ productList }"
                	th:onclick= "|location.href='/admin/productDetail?productCode=${product.productCode}'|"
					style="cursor:pointer;">
                    <td th:text="${ product.productCode }"></td>
                    <td th:text="${ product.productName }"></td>
                    <td th:text="${ product.productPrice }"></td>
                    <td th:text="${ product.productCategory.categoryName }"></td>
                    <td th:text="${ product.productInventory }"></td>
                    <td th:text="${ product.productStatus }"></td>
                </tr>
            </table>
            
     <div id="paging" align="center">
		<!-- 맨 앞으로 이동 -->
		<button th:onclick="'location.href=\'/admin/productList?page=' + @{${paging.startPage}} + '\''"><<</button>
		
		<!-- 이전 페이지로 이동 -->
		<button th:onclick="'location.href=\'/admin/productList?page=' + @{${paging.currentPage - 1}} + '\''"
				th:disabled="${ productList.first }"><</button>
		
		<!-- 숫자버튼 -->
		<th:block th:each="page : ${ #numbers.sequence(paging.startPage, paging.endPage)}">
			<button th:onclick="'location.href=\'/admin/productList?page=' + @{${page}} + '\''"
					th:text="${ page }"
					th:disabled="${ paging.currentPage eq page }">
			</button>
		</th:block>
		
		<!-- 다음 페이지로 이동 -->
		<button th:onclick="'location.href=\'/admin/productList?page=' + @{${paging.currentPage + 1}} + '\''"
				th:disabled="${ productList.last }">></button>
		
		<!-- 맨 끝으로 이동 -->
		<button th:onclick="'location.href=\'/admin/productList?page=' + @{${paging.endPage}} + '\''">>></button>			
	</div>
    </section>


</body>
</html>