/* 표 */
.tg  {
    border-collapse:collapse;
    border-spacing:0;
    top: 200px;
}

.tg td{
    border-color:black;
    border-style:solid;
    border-width:1px;
    overflow:hidden;
    padding:10px 5px;
    word-break:normal;
   
    
}

.tg th{
    border-color:black;
    border-style:solid;
    border-width:1px;
    overflow:hidden;
    padding:10px 5px;
    word-break:normal;
    
}

.tg-0pks {
    width: 200px;
    text-align: center;
    font-size: 25px;
    background-color: #293F54;
    color: white;
    height: 55px;
    font-weight:bold;
}

.tg .tg-0pky{
    border-color:inherit;
    text-align:left;
    vertical-align:middle;
    font-size: 20px;
    
}

.member-management-message{
    position: fixed;
    color: #481BFF;
    top : 80px;
    left : 250px;
    font-size: 2.5em;
}

.btnwrapper {
    position: fixed;
    top : 85%;
    left : 45%;
}


/* 완료 버튼 */
.btn-com {
    width: 125px;
    height: 50px;
    font-size: 25px;
    background-color :#293F54;
    color: white;
    margin: 20px;
    box-shadow: 2px 2px 2px 2px rgb(0,0,0,0.5);
    border-radius: 8px;
}

/* 완료버튼 마우스오버 */
.btn-com:hover{
    background:whitesmoke;
    color: #293F54;
}

/* 완료버튼 클릭*/
.btn-com:active {
    font-size: 20px;
    box-shadow: 1px 1px 0 rgb(0,0,0,0.5);
    position: relative;
    top:2px;
}

/* 삭제 버튼 */
.btn-del {
    width: 125px;
    height: 50px;
    font-size: 25px;
    background-color :#FF0000;
    color: white;
    margin: 20px;
    box-shadow: 2px 2px 2px 2px rgb(0,0,0,0.5);
    border-radius: 8px;
}

/* 삭제 버튼 마우스오버 */
.btn-del:hover{
    background:whitesmoke;
    color:#FF0000;
    font-weight: bold;
    
}

/* 삭제 버튼 클릭*/
.btn-del:active {
    font-size: 20px;
    box-shadow: 1px 1px 0 rgb(0,0,0,0.5);
    position: relative;
    top:2px;
}

