@font-face {
    font-family: 'Cafe24SsurroundAir';
    src: url("/font/user/Cafe24SsurroundAir.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

#findIdBtn {
    margin-bottom: 20em;
    width:100px;
}

#cancelBtn {
    margin-bottom: 16.68em;
    width:100px;
}

.text-field {
    width: 300px; 
    height: 45px;
    margin-bottom: 0.5em;
    font-size: 1em;
}

.text {
    font-family: 'Cafe24SsurroundAir';
    text-emphasis-color: black;
}

#con-wrap{
    text-align: center;
    border-bottom: 1px solid gainsboro;
}

#find-id {
    font-size: 3em;
    margin-top: 3em;
    margin-bottom: 1.3em;
}
