*{
    margin: 0;
    padding: 0;
    font-family: 'Cafe24Ssurround';
    box-sizing:border-box;
    list-style:none;
}
@font-face {
    font-family: "Cafe24Ssurround";
    src: url("/font/user/Cafe24Ssurround.ttf") format("truetype");
    font-weight: normal;
  }

ul{
    list-style: none;
}

li {
    text-align: center;
}

a{
    text-decoration: none;
    color: inherit;
}

@font-face {
    font-family: 'Cafe24SsurroundAir';
    src: url("/font/user/Cafe24SsurroundAir.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

.text-field {
    width: 350px; 
    height: 50px;
    font-family: 'Cafe24SsurroundAir';
    font-size: 0.85em;
    padding: 10px;
}

.result {
	font-family: 'Cafe24SsurroundAir';
	color: rgb(255, 128, 0);
	font-size: 15px;
}

#id {
    width: 270px; 
}

#email, #emailCode {
    width: 230px
}

#zipCode {
    width: 100px; 
    height: 50px;
    font-family: 'Cafe24SsurroundAir';
    font-size: 0.85em;
}

#searchAddress{
    width: 245px; 
    height: 50px;
    font-family: 'Cafe24SsurroundAir';
    font-size: 0.85em;
}

#detailAddress {
    width: 270px; 
    height: 50px;
    font-family: 'Cafe24SsurroundAir';
    font-size: 0.9em;
}

#emailAddress {
    padding: 13px 1px;
}

table {
    margin-left:auto; 
    margin-right:auto;
}

select {
    font-size: 0.85em;
    font-family: 'Cafe24SsurroundAir';
}

#year {
    padding: 14px 18px;
}

#month, #day {
    padding: 14px 19px;
}

.button {
    font-family: 'Cafe24SsurroundAir';
    background-color: white;
    border: 1px solid gray;
    border-radius: 3%;
}

.id-button {
    padding: 15px 11px;
}

.search-button {
    padding: 15.5px 24.3px;
}

.email-button {
    padding: 15.5px 24px;
}

select > option {
    font-family: 'Cafe24SsurroundAir';
}

table, td, th, label {
    border-collapse : collapse;
    font-family: 'Cafe24SsurroundAir';
    font-size: 1.05em;
    padding-left: 10px;
    padding-bottom: 5px;
};

#con-wrap{
    text-align: center;
    border-bottom: 1px solid gainsboro;
}

#registPage {
    padding-top: 2em;
    padding-bottom: 3em;
    background-color: rgba(255, 241, 221, 1);
}

#regist {
    font-family: 'Cafe24SsurroundAir';
    font-size: 3.5em;
    margin-block-end: 0.1em;
    text-align: center;
}

.links {
    font-family: 'Cafe24SsurroundAir';
    border-bottom: 1px gray solid;
    font-size: 1.04em;
}

#join-img {
    margin-top: 5px;
    text-align: center;
}


