<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>굿잇 : 맛있게 건강해지고 싶다면? Let's GoodEat!</title>
    <link href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Gamja+Flower&family=Gowun+Dodum&family=Poor+Story&display=swap" rel="stylesheet">
   <link rel="stylesheet" th:href="@{/css/admin/product/product.css}">
   <link rel="icon" type="image/x-icom" th:href="@{/images/common/HEQXSRYC.ico}">
</head>
<body>

	<div th:replace="admin/common/header.html"></div>
  
    <section>
     <div class="product-title">
            <a>문자보내기</a>
        </div>
    <form th:action="@{sms/send}" method="post">
        <table class="productTable4">
            <tr class="form-group">
                <td class="td-left-class">전화번호</td>
                <td>
                    <input id="td-right" type="text" class="form-control" name="to" placeholder="전화번호를 입력해주세요" style="margin-top:10px;">
                    <p id="td-right" th:text= "${order.member.phone}"></p>
                    <input type="hidden" name = "to" th:value="${order.member.phone}"/>
                     <input type="hidden" name = "content" th:value="'[굿잇] 송장번호 : ' + ${order.delivery.invoiceNo} + ' 택배사 : ' + ${order.delivery.deliveryCompany}"/>
                </td>
        </table>
        		<button class="btn btn-default" id="SmsSendBotton">발송</button>
    </form>
            <input type="submit" value="목록으로" id="SmsButtonList" onclick="location.href='/admin/orderList'">

    </section>


</body>
</html>