<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../source/css/purchase.css">
    <title>Document</title>
</head>
<body>
    <section id="content" class="container">
        <div class="content-wrap frame-sm">
            <div class="page-title-area">
                <h2 class="title-page">구매내역</h2>
                <div class="cart-option">
                    <div class="custom-checkbox">
                        <input type="checkbox" id="checkAll" class="checkbox checkboxGroup" checked>
                        <label for="checkAll">전체해제</label>
                    </div>
                    <button type="button" id="deleteUserCartList" class="btn-option btn-default">
                        <span>배송조회</span>
                    </button>
                </div>
            </div>

            <div class="cart-list-area">
                <ul class="cart-list">
                    <li id="cart-list-img">
                        <div class="prd-info-area cart-info-area">
                            <div class="inner">
                                <div class="column img">
                                    <img src="../source/images/dosi_md.png" alt="상품이미지">
                                </div>
                                <div class="column tit">
                                    <p class="desc">비건 도시락 맛있어요</p>
                                    <p class="desc"> </p>
                                    <ul class="price-item">
                                        <li>
                                            <span class="num">22,900</span>
                                            원
                                        </li>

                                    </ul>
                                </div>
                                <div class="column qty">
                                    <div class="qty-group">
                                        <button type="button" class="btn-qty cart"></button>
                                        <input type="text" value="1">
                                        <button type="button" class="btn-qty cart"></button>
                                    </div>
                                </div>
                                <div class="column price">
                                    <div class="price-div">
                                        <span class="num cart-price">22,900</span>
                                        원
                                    </div>
                                </div>
                                <div class="column btn">
                                    <a>결제 번호 102391492</a>
                                    <button type="button">주문 취소</button>
                                </div>
                            </div>
                        </div>
                        
                    </li>
                </ul>
            </div>

        

            <div class="page-guide-center">
                <a> < 1 2 3 4 5 ></a>
            </div>
        </div>
    </section>















</body>
</html>