.headlinebox {
    position: fixed;
    /* color: #481BFF; */
    top : 80px;
    left : 250px;
    font-size: 2.5em;
}

.ms-requeiry {
    color: #481BFF;
}

.rq-head{
    position: fixed;
    color: grey;
    top : 80px;
    left : 420px;
    font-size: 2.5em;
}

.rq-head-box {
    position: fixed;
    background-color: grey;
    top : 135px;
    left : 420px;
    width: 160px;
    height: 5px;
}

.rev-head{
    position: fixed;
    color: black;
    top : 80px;
    left : 250px;
    font-size: 2.5em;
}

.rev-head-box {
    position: fixed;
    background-color: #00BFFF;
    top : 135px;
    left : 250px;
    width: 160px;
    height: 5px;
}




.wrapper-up {
    position : fixed;
    top: 200px;
    left : 250px;
    width: 80%;
    height: 260px;
    background-color: #d8d6d6;
    padding-bottom: 15px;
}

.ms-up {
    justify-content: center;
    padding-top: 5px;
    height: 50px;
    font-size: 25px;
    padding-left: 30px;
    background-color: #293F54;
    color: rgb(255, 255, 255);
    text-shadow: 1px 0 black, 0 1px black, 1px 0 black, 0 1px black;

}

.rq-box {
    height: 175px;
    width: 96%;
    margin-left: 2%;
    font-size: 20px;
    text-align: center;
    
}


.wrapper-down {
    position : fixed;
    top: 550px;
    left : 250px;
    width: 80%;
    height: 260px;
    background-color: #d8d6d6;
    
}

.ms-down {
    justify-content: center;
    padding-top: 5px;
    height: 50px;
    font-size: 25px;
    padding-left: 30px;
    background-color: #293F54;
    color: rgb(255, 255, 255);
    text-shadow: 1px 0 black, 0 1px black, 1px 0 black, 0 1px black;

}

.res-box {
    height: 175px;
    width: 96%;
    margin-left: 2%;
    font-size: 20px;
    text-align: center;
    
}

/* 삭제 버튼 */
.btn-del {
    width: 125px;
    height: 50px;
    font-size: 25px;
    background-color :#FF0000;
    color: white;
    margin: 20px;
    box-shadow: 2px 2px 2px 2px rgb(0,0,0,0.5);
    border-radius: 8px;
    float: right;
}

/* 삭제 버튼 마우스오버 */
.btn-del:hover{
    background:whitesmoke;
    color:#FF0000;
    font-weight: bold;
    
}

/* 삭제 버튼 클릭*/
.btn-del:active {
    font-size: 20px;
    box-shadow: 1px 1px 0 rgb(0,0,0,0.5);
    position: relative;
    top:2px;
}

/* 완료 버튼 */
.btn-com {
    width: 125px;
    height: 50px;
    font-size: 25px;
    background-color :#293F54;
    color: white;
    margin: 20px;
    box-shadow: 2px 2px 2px 2px rgb(0,0,0,0.5);
    border-radius: 8px;
    float :right;
}

/* 완료버튼 마우스오버 */
.btn-com:hover{
    background:whitesmoke;
    color: #293F54;
}

/* 완료버튼 클릭*/
.btn-com:active {
    font-size: 20px;
    box-shadow: 1px 1px 0 rgb(0,0,0,0.5);
    position: relative;
    top:2px;
}

#report-box {
    font-size: 20px;
    margin-top: 10px;
}