<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/user/main-contents.css">
    <title>Document</title>
</head>
<body>
    <section id="con-wrap">

    <div id="section-1">
        <h2>MD 추천 상품</h2>
        <ul>
            <li class="item-md">
                <a href="">
                    <img src="/images/user/product/milkit/hy 밀푀유 나베 22,900원 .png" alt="밀키트">
                </a>
                <a href="">
                    <p>밀키트</p>
                </a>
            </li>
            <li class="item-md">
                <a href="">
                    <img src="/images/user/product/lunchbox/도시락 사진1.png" alt="도시락">
                </a>
                <a href="">
                    <p>도시락</p>
                </a>
            </li>
            <li class="item-md">
                <a href="">
                    <img src="/images/user/product/chicken/닭가슴살 볼 치즈맛 18,900원 .png" alt="닭가슴살">
                </a>
                <a href="">
                    <p>닭가슴살</p>
                </a>
            </li>
            <li class="item-md">
                <a href="">
                    <img src="/images/user/product/convenine/만두 오리지널 .png" alt="간편식">
                </a>
                <a href="">
                    <p>간편식</p>
                </a>
            </li>
            <!-- <li class="item-md">
                <a href="">
                    <img src="/images/user/product/vegen/비건도시락 사진1.png" alt="비건">
                </a>
                <a href="">
                    <p>비건</p>
                </a>
            </li> -->
        </ul>
    </div>
    
    <div id="section-1">
        <h2>이 달의 추천 상품</h2>
        <ul>
            <li class="item-md">
                <a href="">
                    <img src="/images/user/product/milkit/hy 밀푀유 나베 22,900원 .png" alt="밀키트">
                </a>
                <a href="">
                    <p>밀키트</p>
                </a>
            </li>
            <li class="item-md">
                <a href="">
                    <img src="/images/user/product/lunchbox/도시락 사진1.png" alt="도시락">
                </a>
                <a href="">
                    <p>도시락</p>
                </a>
            </li>
            <li class="item-md">
                <a href="">
                    <img src="/images/user/product/chicken/닭가슴살 볼 치즈맛 18,900원 .png" alt="닭가슴살">
                </a>
                <a href="">
                    <p>닭가슴살</p>
                </a>
            </li>
            <li class="item-md">
                <a href="">
                    <img src="/images/user/product/convenine/만두 오리지널 .png" alt="간편식">
                </a>
                <a href="">
                    <p>간편식</p>
                </a>
            </li>
            <!-- <li class="item-md">
                <a href="">
                    <img src="/images/user/product/vegen/비건도시락 사진1.png" alt="비건">
                </a>
                <a href="">
                    <p>비건</p>
                </a>
            </li> -->
        </ul>
    </div>    
    </section> 
</body>
</html>