<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="../source/css/main.css">
    <title>Document</title>
</head>
<body>
    <div id="foot-wrap">

        <div class="foot-logo">
            <a th:href="../main/Mainpage.html" ><img th:src="../source/images/Logo.PNG" style="width: 150px;" /></a>
        </div>
        <div class="foot-menu">
            <ul>
                <li><a th:href="/board/list">공지사항</a></li>
                <li>|</li>
                <li><a th:href="/board/list">이벤트</a></li>
                <li>|</li>
                <li><a th:href="#">TOP</a></li>
            </ul>
        </div>
        <p class="cop">Copyright LetsGoodEat 2022 <img th:src="${data.(../source/images/copy.PNG)}" th:style="width: 10px;">All Right Reserved</p>
    </div>
</body>
</html>