<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/user/main.css">
    <link rel="stylesheet" href="/css/user/main-contents.css">
    <title>Document</title>
</head>

<body>
	<header>
        <!-- 메인 메뉴 -->
        <div class="main-nav">
        	<th:block sec:authorize="isAnonymous()">
            <ul>
                <li><a href="/login">로그인</a></li>
                <li><a href="using">회원가입</a></li>
                <li><a href="help-main">고객센터</a></li>
            </ul>
            </th:block>
            
            <th:block sec:authorize="hasRole('ADMIN')">
            <ul>
            	<li><a th:href="@{/member/logout}" >로그아웃</a></li>
                <li><a th:href="@{/admin/member}">관리 메뉴</a></li>
            </ul>
            </th:block>
            
        	<th:block sec:authorize="hasRole('MEMBER')">
            <ul>
                <li><a th:href="@{/member/logout}">로그아웃</a></li>
                <li><a href="mypage">My Page</a></li>
                <li><a href="help-main">고객센터</a></li>
            </ul>
            </th:block>
            
            <ul class="img-link">
                <li>
                    <a href="">
                    <img src="/images/user/main/post.png"  style="width: 60px; height: 60px;">
                    </a>
                </li>
                <li>
                    <button id="Cart">
                        <img src="/images/user/main/cart.png" style="width: 60px; height: 60px;">
                    </button>
                </li>
            </ul>
        </div>
        <br>
        <!-- 로고 부분 -->
        <div id="head-con">
            <div class="logo">
                <a href="#" ><img src="/images/user/main/Logo.PNG" style="width: 300px;" /></a>
                <div class="serch-center">
                    <input type="search">
                    <button class="img-btn" type="submit" name="search">검색</button>
                </div>
            </div>
        </div>
        <!-- 서브 메뉴 -->
        <div class="base">
            <ul>
                <li class="item">
                    <p>카테고리</p>
                    <!-- 드롭 다운 -->
                    <ul class="item-menu">
                        <li><a th:href="@{/user/productdetail}">밀키트</a></li>
                        <li><a href="">도시락</a></li>
                        <li><a href="">닭가슴살</a></li>
                        <li><a href="">간편식</a></li>
                        <li><a href="">비건</a></li>
                        <li><a href="">공지사항/이벤트</a></li>
                    </ul>
                </li>
                <li class="item">
                    <a th:href="@{/user/productdetail}">밀키트</a>
                </li>
                <li class="item">
                    <a href="">도시락</a>
                </li>
                <li class="item">
                    <a href="">닭가슴살</a>
                </li>
                <li class="item">
                    <a href="">간편식</a>
                </li>
                <li class="item">
                    <a href="">비건</a>
                </li>
                <li class="item">
                    <p>공지사항/이벤트</p>
                    <!-- 드롭 다운 -->
                    <ul class="item-menu">
                        <li><a th:href="@{/board/board}">공지사항</a></li>
                        <li><a href="">이벤트</a></li>
                    </ul>
                </li>
            </ul> 
        </div>
        
    </header>  
</body>
</html>