<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/user/main.css">
    <link rel="stylesheet" href="/css/user/main-contents.css">
    <script type="text/javascript" th:src="@{/js/product.js}"></script>
    <title>Document</title>
</head>

<body>
	<header>
        <!-- 메인 메뉴 -->
        <div class="main-nav">
        	<th:block sec:authorize="isAnonymous()">
            <ul>
                <li><a th:href="@{/login}">로그인</a></li>
                <li><a th:href="@{/join}">회원가입</a></li>
                <li><a href="help-main">고객센터</a></li>
            </ul>
            </th:block>
            
        	<th:block sec:authorize="isAuthenticated()">
            <ul>
                <li><a th:href="@{/member/logout}">로그아웃</a></li>
                <th:block sec:authorize="hasRole('MEMBER')">
	                <li><a th:href="@{/mypage}">My Page</a></li>
                </th:block>
                <th:block sec:authorize="hasRole('ADMIN')">
                <li><a th:href="@{/admin/member}">관리 메뉴</a></li>
                </th:block>
                <li><a href="help-main">고객센터</a></li>
            </ul>
            </th:block>
            
            <ul class="img-link">
                <li>
                    <a href="">
                    <img src="/images/user/main/post.png"  style="width: 60px; height: 60px;">
                    </a>
                </li>
                <li>
                    <button id="Cart">
                        <img src="/images/user/main/cart.png" style="width: 60px; height: 60px;">
                    </button>
                </li>
            </ul>
        </div>
        <br>
        <!-- 로고 부분 -->
        <div id="head-con">
            <div class="logo">
                <a href="/" ><img src="/images/user/main/Logo.PNG" style="width: 300px;" /></a>
                <div class="serch-center">
                    <input type="search">
                    <button class="img-btn" type="submit" name="search">검색</button>
                </div>
            </div>
        </div>
        <!-- 서브 메뉴 -->
        <div class="base">
            <ul>
                <li class="item">
                    <p>카테고리</p>
                    <!-- 드롭 다운 -->
                    <ul class="item-menu">
                    	<li><a th:href="@{/user/productAll}">전체상품</a></li>
                        <li><a th:href="@{/user/mil}">밀키트</a></li>
                        <li><a th:href="@{/user/lunchbox}">도시락</a></li>
                        <li><a th:href="@{/user/chicken}">닭가슴살</a></li>
                        <li><a th:href="@{/user/convenince}">간편식</a></li>
                        <li><a th:href="@{/user/vegan}">비건</a></li>
                        <li><a th:href="@{/post/list}">공지사항/이벤트</a></li>
                    </ul>
                </li>
                <li class="item">
                    <a id="mil1">밀키트</a> 
                </li>
                <li class="item">
                    <a id="lunch1" >도시락</a>
                </li>
                <li class="item">
                    <a id="chicken1">닭가슴살</a>
                </li>
                <li class="item">
                   <a id="convenince">간편식</a>
                </li>
                <li class="item">
                  <a id= "vegan">비건</a>
                </li>
                <li class="item">
                    <a id="post">공지사항/이벤트</a>
                    <!-- 드롭 다운 -->
                    <ul class="item-menu">
                        <li><a id="notice">공지사항</a></li>
                        <li><a id="event">이벤트</a></li>
                    </ul>
                </li>
            </ul> 
        </div>
        
    </header>  
</body>
</html>