<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/user/main.css">
    <link rel="stylesheet" href="/css/user/productDetail/product-list.css">
    <link rel="stylesheet" href="/css/user/main-contents.css">
    <link rel="stylesheet" href="/font/user/Cafe24Ssurround.ttf">
    
    <title>MainPage</title>
</head>
<body data-spy="scroll" data-target=".navbar" data-offset="50">

<div th:replace="user/common/header.html"></div> 

<!-- 컨텐츠 부분 -->
   <div id="cont-list-wrap">
    <div class="product-top">
        <ul>
            <li class="pt-img">
                <img src="/images/밀키트/채근담 떡국 10,000원.png" alt="밀키트">
            </li>
            <li class="right-te">
                <h4>바쁜 직장인 강추 상품</h4>
                <p>그리운 어머니의 손맛이 깃든 빠르게 먹을수 있는 떡국</p>
                <h1>16,900원</h1>
                <input type="number" value="수량을 선택해주세요" min="1" max="999" placeholder="수량을 선택해주세요"/>
                <button id="ser">입력</button>
            </li>
        </ul>
        <div class="btn-ser2-in">
            <button>장바구니</button>
            <button>바로구매</button>
        </div>
    </div> 

    <div id="product-bottom">
        <nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">  
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="#section1">상품상세</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#section2">구매후기</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#section3">상품문의</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#section4">상품정보</a>
              </li>
            </ul>
          </nav>
    
    <div id="section1" class="container-fluid bg-success" >
        <div class="first-pt">
            <img src="/images/상세/vigen/Dd_sub2.PNG" alt="">
        </div>
      </div>
      <div id="section2" class="container-fluid bg-warning" >
        <section class="article-list">
          <div class="table-con">
            <p class="con">구매 후기</p>
            <button type="button" onclick="location.href='select.html';" class="btn-sel" >등록</button>
            <table border="1">
                <thead>
                    <tr>
                        <th>내용</th>
                        <th>닉네임</th>
                        <th>작성일자</th>
                        <th><a href="#">신고</a></th>
                        
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>매번 맛있게 잘 먹고 있습니다. 강추!!</td>
                        <td>죽을맛</td>
                        <td>2022.09.20</td>
                        <td class="red-btn"><button>신고</button></td>
                        
                    </tr>
                    <tr>
                        <td>맛없음 사지마셈!</td>
                        <td>봉천동 불주먹</td>
                        <td>2022.09.19</td>
                        <td class="red-btn"><button>신고</button></td>
                        
                    </tr>
                    <tr>
                        <td>아직도 안 드셔 보셨으면 한 번은 꼭 먹어보세요</td>
                        <td>귀여운 늑대</td>
                        <td>2022.09.18</td>
                        <td><button class="wt-btn">수정</button><button class="rt-btn">삭제</button></td>
                        
                    </tr>
                    <tr>
                        <td>내공냠냠</td>
                        <td>다이어트만 28년째</td>
                        <td>2022.09.13</td>
                        <td class="red-btn"><button>신고</button></td>
                        
                    </tr>
                    <tr>
                        <td>내공냠냠</td>
                        <td>다이어트만 28년째</td>
                        <td>2022.09.13</td>
                        <td class="red-btn"><button>신고</button></td>
                       
                    </tr>
                </tbody>
            </table>
        </div>
        </section>

      </div>
      <div id="section3" class="container-fluid bg-secondary">
        <section class="article-list">
            <div class="table-con">
            <p class="con">상품문의</p>
            <button type="button" onclick="location.href='support.html';" class="btn-sel">등록</button>
            <table border="1">
                <thead>
                    <tr>
                        <th>문의유형</th>
                        <th>문의날짜</th>
                        <th>제목</th>
                        <th>회원</th>
                        <th>답변상태</th>
                    </tr>
                </thead>
                <tbody border="1">
                    <tr>
                        <th>배송문의</th>
                        <th>2022.09.20</th>
                        <th><a href="#">아직도 배송 안됬어요</a></th>
                        <th>검냥공듀</th>
                        <th>미답변</th>
                    </tr>
                    <tr>
                        <th>상품문의</th>
                        <th>2022.09.19</th>
                        <th><a href="#">상품 재입고 언제되나요?</a></th>
                        <th>발빠름</th>
                        <th>답변</th>
                    </tr>
                    <tr>
                        <a href="#">
                            <th>환불/취소</th>
                            <th>2022.09.13</th>
                            <th><a href="#">결제 취소요청</a></th>
                            <th>김나박</th>
                            <th>미답변</th>
                        </a>
                    </tr>
                    <tr>
                        <th>기타문의</th>
                        <th>2022.09.11</th>
                        <th><a href="#">공휴일 고객센터 쉬나요?</a></th>
                        <th>금희</th>
                        <th>답변</th>
                    </tr>
                    <tr>
                        <th>상품문의</th>
                        <th>2022.09.03</th>
                        <th><a href="#">취소 아직도 안되었어요</a></th>
                        <th>댕청이</th>
                        <th>미답변</th>
                    </tr>
                </tbody>
            </table>
        </div>
        </section>
      </div>
      <div id="section4" class="container-fluid bg-secondary">
        <div class="first-pt">
            <img src="/images/상세/vigen/post_ss.PNG" alt="" style="width: 100%;">
        </div>
      </div>
    </div>
 
    
   <div th:replace="user/common/footer.html"></div>
   
    
    
</body>
</html>