<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">  
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/main-contents.css">
    <link rel="stylesheet" href="/css/select.css">
    <link rel="stylesheet" href="/font/Cafe24Ssurround.ttf">
    
</head>

    <title>Select</title>
</head>
<body data-spy="scroll" data-target=".navbar" data-offset="50">
    <!-- 헤더부분 -->
     <div th:replace="user/common/header.html"></div>
 
 <!-- 컨텐츠 부분 -->
  <div class="container">
    <h1>리뷰 등록</h1>
    <form id="textbox2">
        <input type="text" class="titlebox" placeholder="제목을 입력하세요">
        <br>
        <input type="text" class="postbox" placeholder="내용을 입력하세요">
    </form>    
        <button type="submit" class="btn-sl" onclick="location.href='/user/productdetail/product-list';">등록</button>
        <button type="submit" onclick="location.href='/user/productdetail/product-list';" class="btn-sl2">뒤로가기</button>
  </div>
       <!-- 푸터 부분 -->
 <div th:replace="user/common/footer.html"></div>
 </body>
 </html>