<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/css/admin/Adminstyle.css}">
    <link rel="stylesheet" th:href="@{/css/admin/inquiry/detailinquiry.css}">
    <link href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Gamja+Flower&family=Gowun+Dodum&family=Poor+Story&display=swap" rel="stylesheet">
    <link rel ="icon" type="image/x-icom" th:href="@{/images/common/HEQXSRYC.ico}">
    <script type="text/javascript"></script>
</head>
<body>
   
   <div th:replace="admin/common/header.html"></div>
    
    <div class="rq-head-box"></div>
    <div class="rev-head-box"></div>
    <a class="rq-head">문의 관리</a>
    <a class="rev-head" th:href="@{/admin/review/list}">리뷰 관리</a>
   
    <div class="wrapper-up">
        <div class="msbox-up">
            <div class="ms-up">문의 내역</div><br>
            <div class="rq-box" th:text="${ inquiry.inquiryContent}"></div>
            <input type="submit" class="btn-del" value="삭제" th:onclick="|location.href='/admin/inquiry/delete?inquiryCode=${inquiry.inquiryCode}'|">     
        </div>
    </div>
    <div class="wrapper-down">
        <div class="msbox-down">
            <div class="ms-down">답변
           
        
    <table id="replyWrite" class="">
		<input type="hidden" id="inquiryCode" th:value="${inquiry.inquiryCode}"/>
		<input type="hidden" id="member.memberNo" th:value="${inquiry.member.memberNo}"/>
			<tr>
				<td style="border:none;"><textarea cols="40" rows="3" id="replyInquiryContent" 
				style="resize:none;
					   width: 110%;
					   margin-left:5px;
					   height: 150px;"></textarea></td>
				<td style="border:none;
						   float: right;
						   margin-top:50%;"><button type="button" class="member-button" id="registReply">작성하기</button></td>
			</tr>
	</table>
	
	<table id="replyResult" style="margin-top: 200px;
								   float: left;"></table>
        	</div><br>
        </div>
    </div>  
    
	    
     		
	<script>
		loadReply();
		
		function loadReply() {
			
			if(document.getElementById("inquiryCode")) {
				
				fetch("/admin/inquiry/loadReply?refInquiryNo=" + document.getElementById("inquiryCode").value)
				.then(result => result.json())
				.then(data => {
					makeReplyTable(data);
				})
				.catch(error => console.log(error));
				
			}
			
		}
		
		if(document.getElementById("registReply")) {
			
			const $registReply = document.getElementById("registReply");
			const $replyInquiryContent = document.getElementById("replyInquiryContent");
			
			$registReply.onclick = function() {
				
				const inquiryCode = document.getElementById("inquiryCode").value;
				const replyInquiryContent = $replyInquiryContent.value;
				
				fetch("/admin/inquiry/registReply", {
					method: "POST",
					headers: {
						'Content-Type': 'application/json;charset=UTF-8'
					},
					body: JSON.stringify({
						refInquiryNo: inquiryCode,
						replyInquiryContent: replyInquiryContent
					})
				})
				.then(data => {
					console.log(data);
					loadReply();
				})
				.catch(error => console.log(error));
			}
		}
		
		
		function removeReply(replyNo) {
			
			fetch("/admin/inquiry/removeReply", {
				method: "POST",
				headers: {
					'Content-Type': 'application/json; charset=UTF-8'
				},
				body: JSON.stringify({
					replyNo: replyNo
				})
			})
			.then(result => {
				console.log(result);
				loadReply();
			})
			.catch(error => console.log(error));
			
		}
		
		
		
		function makeReplyTable(replyList) {
			
			const $table = document.querySelector("#replyResult");
			$table.innerHTML = '';
			
			replyList.forEach(reply => {
				const $tr = document.createElement('tr');
				const $replyInquiryContentTd = document.createElement('td');
				const $memberNameTd = document.createElement('td');
				const $replyRegistDateTd = document.createElement('td');
				const $buttonTd = document.createElement('td');
				
				$replyInquiryContentTd.textContent = reply.replyInquiryContent;
				$memberNameTd.textContent = reply.member.memberName;
				$replyRegistDateTd.textContent = reply.replyRegistDate;
				
				if('[[${#authentication.principal.memberNo}]]' == reply.member.memberNo) {
					$buttonTd.innerHTML = `<button type='button' onclick='removeReply(${reply.replyNo})'>댓글삭제</button>`;
				}
				
				$tr.append($replyInquiryContentTd, $memberNameTd, $replyRegistDateTd, $buttonTd);
				$table.append($tr);
			});
			
		}
		
		
	</script> 

</body>
</html>