<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/goodeat//src/main/resources/static/css/admin/Adminstyle.css">
    <link rel="stylesheet" href="/goodeat//src/main/resources/static/css/admin/requeiry/detailrequeiry.css">
    <link href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Gamja+Flower&family=Gowun+Dodum&family=Poor+Story&display=swap" rel="stylesheet">
    <link rel ="icon" type="image/x-icom" href="/goodeat/src/main/resources/static/images/common/HEQXSRYC.ico">
</head>
<body>
    <header>
        <div id="container">
            <div id="top-menu">
                <div class="logo-menu">
                    <img class="logo" src="/goodeat/src/main/resources/static/images/main-logo.PNG">
                </div>
                
                <div class="box">
                    <img class="profile" src="/goodeat/src/main/resources/static/images/admin/TeamReder.PNG" alt="리더">
                </div>
                <div class="name-menu">
                    <p>welcome!</p>
                    <h3>관리자</h3>
                </div>
            </div>
                <!--세로형 메뉴-->
                <div class="menu-base">
                    <ul>
                    <li class="sub-menu">
                        <a href="/goodeat/src/main/resources/templates/admin/member/adm-member.html" id="menu-base-a">회원관리</a></li>
                    <li class="sub-menu">
                        <a href="#" id="menu-base-a">상품관리</a></li>
                    <li class="sub-menu">
                        <a href="#" id="menu-base-a">주문관리</a></li>
                    <li class="sub-menu-select">
                        <a href="#" id="menu-base-a">문의/리뷰관리</a></li>
                    <li class="sub-menu">
                        <a href="/goodeat/src/main/resources/templates/admin/post/adm-post.html" id="menu-base-a">게시판관리</a></li>
                </ul> 
                </div>
            <div class="clear"></div>
        </div>
    </header>
    
    
    <a class="rq-head">문의 관리</a>
    <a class="rev-head">리뷰 관리</a>
    <div class="rq-head-box"></div>
    <div class="rev-head-box"></div>
    
    <section>
        <div class="head-top">
            <div class="logout-content">
                <a>로그아웃</a>
            </div>
            <div class="logout-img">
                <a><img src="/goodeat/src/main/resources/static/images/admin/logout.png"></a>
            </div>
        </div>
    </section>
    
    <div class="wrapper-up">
        <div class="msbox-up">
            <div class="ms-up">문의 내역</div><br>
            <textarea class="rq-box" form="inform" cols="30" rows="10">
                
            </textarea>
            <button class="btn-del">삭제</button>     
        </div>
    </div>
    <div class="wrapper-down">
        <div class="msbox-down">
            <div class="ms-down">답변</div><br>
            <textarea class="res-box" form="inform" cols="40" rows="10" autofocus required wrap="hard"
            placeholder="답변을 입력하세ㅛㅇ">
            </textarea>
            <button class="btn-com">완료</button> 
        </div>
    </div>
</body>
</html>