<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/goodeat//src/main/resources/static/css/admin/Adminstyle.css">
    <link rel="stylesheet" href="/goodeat//src/main/resources/static/css/admin/requeiry/popuprequeiry.css">
    <link href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Gamja+Flower&family=Gowun+Dodum&family=Poor+Story&display=swap" rel="stylesheet">
    <link rel ="icon" type="image/x-icom" href="/goodeat/src/main/resources/static/images/common/HEQXSRYC.ico">
</head>
<body>
    <header>
        <div id="container">
            <div id="top-menu">
                <div class="logo-menu">
                    <img class="logo" src="/goodeat/src/main/resources/static/images/main-logo.PNG">
                </div>
                
                <div class="box">
                    <img class="profile" src="/goodeat/src/main/resources/static/images/admin/TeamReder.PNG" alt="리더">
                </div>
                <div class="name-menu">
                    <p>welcome!</p>
                    <h3>관리자</h3>
                </div>
            </div>
                <!--세로형 메뉴-->
                <div class="menu-base">
                    <ul>
                    <li class="sub-menu">
                        <a href="/goodeat/src/main/resources/templates/admin/member/adm-member.html" id="menu-base-a">회원관리</a></li>
                    <li class="sub-menu">
                        <a href="#" id="menu-base-a">상품관리</a></li>
                    <li class="sub-menu">
                        <a href="#" id="menu-base-a">주문관리</a></li>
                    <li class="sub-menu-select">
                        <a href="#" id="menu-base-a">문의/리뷰관리</a></li>
                    <li class="sub-menu">
                        <a href="/goodeat/src/main/resources/templates/admin/post/adm-post.html" id="menu-base-a">게시판관리</a></li>
                </ul> 
                </div>
            <div class="clear"></div>
        </div>
    </header>
    
    <section>
        <div class="head-top">
            <div class="logout-content">
                <a>로그아웃</a>
            </div>
            <div class="logout-img">
                <a><img src="/goodeat/src/main/resources/static/images/admin/logout.png"></a>
            </div>
        </div>
    </section>
    <div class="container">
        <div class="popup-wrap" id="popup"> 
          <div class="popup">	
            <div class="popup-head">	
                <span class="head-title">!! WARNING !!</span>
            </div>
            <div class="popup-body">	
              <div class="body-content">
                <div class="body-titlebox">
                  <h1>정말 삭제하시겠습니까?</h1>
                </div>
                <div class="body-contentbox">
                   관리자 개인의 실수로 삭제한 회원의 정보는<br> 복구할 수 없습니다. </p>
                </div>
              </div>
            </div>
            <div class="popup-foot"> 
              <span class="pop-btn confirm" id="confirm">확인</span>
              <span class="pop-btn close" id="close">창 닫기</span>
            </div>
          </div>
         </div>
      </div>
</body>
</html>