<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<link rel="stylesheet" href="/css/user/main.css">
	<link rel="stylesheet" href="css/user/slide.css">
	<link rel="stylesheet" href="/css/user/info/join.css">
	<script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<meta charset="UTF-8">
<title>Join</title>
</head>
<body>

	<div th:replace="user/common/header.html"></div>

	<section id="con-wrap">
   
        <div id="registPage">
            <div id="regist" >회원가입</div><hr style="margin-bottom:2em">
            <form name="regist" th:action="@{/join}" method="post" id="memberInsertFrom" onsubmit="return checkForm()">
                <table>
                    <tr>
                        <td align="right">아이디 <img src="/images/user/info/essential.png" width="5px"/></td>
                        <td align="left"><input name="memberId" id="memberId" class="text-field check" placeholder="4~10자 영문, 또는 숫자만 가능"/>
                    </tr>
                    <tr>
                        <td></td>
                        <td align="left"><div id="checkedId"></div></td>
                    </tr>
                    <tr>
                        <td align="right">비밀번호 <img src="/images/user/info/essential.png" width="5px" /></td>
                        <td align="left"><input type="password" name="memberPwd" id="password" class="text-field check" placeholder="6~16자 영문, 숫자 혼용 필수"/></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td align="left"><input type="password" id="password2" class="text-field check" placeholder="비밀번호 재입력"></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td align="left" id="checkedPwd"></td>
                    </tr>
                    <tr>
                        <td align="right">이름 <img src="/images/user/info/essential.png" width="5px"/></td>
                        <td align="left"><input type="text" name="memberName" id="memberName" class="text-field check" placeholder="2자 이상 입력"/></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td align="left" id="checkedName"></td>
                    </tr>
                    <tr>
                        <td align="right">휴대전화 <img src="/images/user/info/essential.png" width="5px" /></td>
                        <td align="left"><input type="text" name="phone" id="phone" class="text-field check" placeholder="'010'부터 번호만 입력"/></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td align="left" id="checkedPhone"></td>
                    </tr>
                    <tr>
                        <td align="right">주소 <img src="/images/user/info/essential.png" width="5px"/></td>
                        <td align="left">
                            <input class="text-field check" name="zipCode" id="zipCode" placeholder="우편번호" readonly>
                            <input class="text-field check" name="address" id="searchAddress" placeholder="검색을 통해 입력할 수 있습니다" readonly>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td align="left" id="checkedZipCode"></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td align="left">
                            <input type="text" name="detailAddress" id="detailAddress"  class="check" placeholder=" 상세 주소 입력">
                            <input type="button" class="search-button button" id="search" value="검색"/>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td align="left" id="checkedAddress"></td>
                    </tr>
                    <tr>
                        <td></td>
                    </tr>
                    <tr>
                        <td align="right">이메일 <img src="/images/user/info/essential.png" width="5px"/></td>
                        <td align="left">
                            <input type="text" name="email1" class="text-field email-button button" id="email1" placeholder="이메일 입력"/>
                            <select name="email2" id="email2">
								<option>naver.com</option>
                                <option>gmail.com</option>
                                <option>daum.net</option>
                                <option>nate.com</option>
                                <option>yahoo.co.kr</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td align="left"><input type="text" name="emailCode" class="text-field" id="emailCode" placeholder="이메일로 전송된 인증번호 입력"/>
                            <input type="button" class="button check"  id="sendCodeBtn" value="이메일 인증"/></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td align="left" id="checkedEmail"></td>
                    </tr>
                    <tr>
                        <td align="right">성별</td>
                        <td align="left">
                        <label for="man">남자</label>
                        <input type="radio" name="gender" value="남" id="man">
                        <label for="woman">여자</label>
                        <input type="radio" name="gender" value="여" id="woman">
                        </td> 
                    </tr>
                    <tr>
                        <td align="right">생년월일</td>
                        <td align="left">
                            <select name="year" id="year">
                                <option value="">년도 선택</option>
                                <option value="1980">1980</option>
                                <option value="1981">1981</option>
                                <option value="1982">1982</option>
                                <option value="1983">1983</option>
                                <option value="1984">1984</option>
                                <option value="1985">1985</option>
                                <option value="1986">1986</option>
                                <option value="1987">1987</option>
                                <option value="1988">1988</option>
                                <option value="1989">1989</option>
                                <option value="1990">1990</option>
                                <option value="1991">1991</option>
                                <option value="1992">1992</option>
                                <option value="1993">1993</option>
                                <option value="1994">1994</option>
                                <option value="1995">1995</option>
                                <option value="1996">1996</option>
                                <option value="1997">1997</option>
                                <option value="1998">1998</option>
                                <option value="1999">1999</option>
                                <option value="2000">2000</option>
                                <option value="2001">2001</option>
                                <option value="2002">2002</option>
                                <option value="2003">2003</option>
                                <option value="2004">2004</option>
                                <option value="2005">2005</option>
                                <option value="2006">2006</option>
                                <option value="2007">2007</option>
                                <option value="2008">2008</option>
                                <option value="2009">2009</option>
                                <option value="2010">2010</option>
                            </select>
                            <select name="month" id="month">
                                <option value="">월 선택</option>
                                <option value="1">01</option>
                                <option value="2">02</option>
                                <option value="3">03</option>
                                <option value="4">04</option>
                                <option value="5">05</option>
                                <option value="6">06</option>
                                <option value="7">07</option>
                                <option value="8">08</option>
                                <option value="9">09</option>
                                <option value="10">10</option>
                                <option value="11">11</option>
                                <option value="12">12</option>
                            </select>
                            <select name="day" id="day">
                                <option value="">일 선택</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                                <option value="11">11</option>
                                <option value="12">12</option>
                                <option value="13">13</option>
                                <option value="14">14</option>
                                <option value="15">15</option>
                                <option value="16">16</option>
                                <option value="17">17</option>
                                <option value="18">18</option>
                                <option value="19">19</option>
                                <option value="20">20</option>
                                <option value="21">21</option>
                                <option value="22">22</option>
                                <option value="23">23</option>
                                <option value="24">24</option>
                                <option value="25">25</option>
                                <option value="26">26</option>
                                <option value="27">27</option>
                                <option value="28">28</option>
                                <option value="29">29</option>
                                <option value="30">30</option>
                                <option value="31">31</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                    <td></td>
                    </tr>
                    <tr>
                        <td align="right">이용약관 <img src="/images/user/info/essential.png" width="5px" /></td>
                        <td align="left">
                            <a href="https://dshop.dietshin.com/union_privacy.asp" class="links check">개인정보처리방침(필수)</a>
                            <input type="checkbox" id="checkedAgreement" checked name="checkedAgreement" disabled/>
                            <a href="https://dshop.dietshin.com/union_privacy.asp" class="links">마케팅정보제공</a>
                            <input type="checkbox" />
                        </td>
                    </tr>
                </table>
                <br>
                    <div id="join-img">
                        <input type="image" src="/images/user/info/joinbutton.png" width="270px" id = "joinBtn"/><br>
                        <a href="/" class="links">취소</a>
                    </div>
            </form>
        </div>
        
    </section>
    
    <div th:replace="user/common/footer.html"></div>
    
     <script >
     
     const memberId = document.getElementById("memberId");
     const memberPwd = document.getElementById("password");
     const memberName = document.getElementById("memberName");
     const phone = document.getElementById("phone");
     const zipCode = document.getElementById("zipCode");
     const detailAddress = document.getElementById("detailAddress");
     const emailCode = document.getElementById("emailCode");
     
     var id_RegExp = /^[a-zA-Z0-9]{4,10}$/; //아이디
     var pwd_RegExp = /(?=.*\d)(?=.*[a-zA-ZS]).{6,16}/; // 패스워드
     var n_RegExp = /^[가-힣]{2,}$/; // 이름
     var p_RegExp = /^[0-9]{11,}$/; // 번호 
     
     const checkedId = document.getElementById("checkedId");
     const checkedPwd = document.getElementById("checkedPwd");
     const password2 = document.getElementById("password2");
     const checkedName = document.getElementById("checkedName");
     const checkedPhone = document.getElementById("checkedPhone");
     const checkedZipCode = document.getElementById("checkedZipCode");
     const checkedAddress = document.getElementById("checkedAddress");
     const checkedAgreement = document.getElementById("checkedAgreement");
     const checkedEmail = document.getElementById("checkedEmail");
     
	const $sendCode = document.getElementById("sendCodeBtn");

     function checkForm() {
    	 
    	 if(!id_RegExp.test(memberId.value.trim()) || document.getElementById("cannotUse")){
    		 alert('아이디를 확인해주세요.');
    		 memberId.focus();
    		 return false;
    	 }
    	 
     	 if(!pwd_RegExp.test(memberPwd.value.trim())){
     		alert('비밀번호를 확인해주세요.');
    		 memberPwd.focus();
    		 return false;
    	 }
     	 
       	 if(password.value != password2.value){
       		alert('비밀번호가 일치하지 않습니다.');
     		password2.focus();
     		return false;
     	 }
    	 
    	 if(!n_RegExp.test(memberName.value.trim())){
    		 alert('이름을 확인해주세요.');
    		 memberName.focus();
    		 return false;
    	 }
    	 
    	 if(!p_RegExp.test(phone.value.trim())){
    		 alert('휴대전화 번호를 확인해주세요.');
    		 phone.focus();
    		 return false;
    	 }
    	 
    	 if(zipCode.value.trim() == ''){
    		 alert('주소를 입력해주세요.');
    		 detailAddress.focus();
    		 return false;
    	 }
    	 
    	 if(detailAddress.value.trim() == ''){
    		 alert('상세 주소를 입력해주세요.');
    		 detailAddress.focus();
    		 return false;
    	 }
    	 
    	 if(document.getElementById("discode")){
			 alert('인증번호가 일치하지 않습니다.');
			 emailCode.focus();
			 return false;
		 }
     }
     
     if(document.getElementById("memberId")){
	     
	     memberId.onkeyup = function () {
	    	 
	    	 let memberIdValue = memberId.value.trim();
	    	 
	    	 if(!id_RegExp.test(memberIdValue)){
	    		 checkedId.innerHTML = '<div class="result"> 4~6자 영문 또는 숫자만 입력 가능합니다. <div>';
	    		 return;
	    	 }
	    	 
	    	 fetch("/idDupCheck", {
	    		 method: "POST",
	    		 headers: {
	    			 'Content-Type': 'application/json;charset=UTF-8'
	    		 },
	    		 body: JSON.stringify({memberId: memberIdValue})
	    	 })
	    	 	.then(result => result.text())
	    	 	.then(result => {
	    	 		
	    	 		if(result == "cannotUse"){
	    	 			checkedId.innerHTML = '<div id="cannotUse" class="result"> 이미 사용 중인 아이디입니다. </div>';
	    	 			return;
	    	 		} else {
	    	 			checkedId.innerHTML = '';
	    	 		}
	    	 		
	    	 	})
	    	 	.catch((error) => error.text().then((res) => alert(res)));
	     }
     }
    

     if(document.getElementById("password")){
    	 
    	 memberPwd.onkeyup = function() {
    		 
    		 let memberPwdValue = memberPwd.value.trim();
    		 
    		 if(!pwd_RegExp.test(memberPwdValue)){
    			 checkedPwd.innerHTML = '<div class="result"> 6~16자 영문, 숫자 혼합 비밀번호만 가능합니다. <div>';
    			 return;
    		 } else {
    			 checkedPwd.innerHTML = '';
    			 return;
    		 }
    	 }
     }
     
     
     if(document.getElementById("password2")){
    	 
    	 password2.onkeyup = function(){
    		 
    		 let memberPwdValue = memberPwd.value.trim();
    		 let password2Value = password.value.trim();
    		 
    		 console.log(memberPwdValue, password2Value);
    		 
    		 if(password.value != password2.value)  {
    			 checkedPwd.innerHTML = '<div class="result"> 비밀번호가 일치하지 않습니다. <div>';
    			 return;
    		 } else {
    			 checkedPwd.innerHTML = '';
    		 }
    	 }
     }
     

     if(document.getElementById("memberName")){
    	 
    	 memberName.onkeyup = function() {
    		 
    		 let memberNameValue = memberName.value.trim();
    		 
    		 if(!n_RegExp.test(memberNameValue)){
    			 checkedName.innerHTML = '<div class="result"> 2~15자 한글만 입력 가능합니다. <div>';
    			 return;
    		 } else {
    			 checkedName.innerHTML = '';
    		 }
    	 }
     }
     

     if(document.getElementById("phone")){
    	 
    	 phone.onkeyup = function() {
    		 
    		 let phoneValue = phone.value.trim();
    		 
    		 if(!p_RegExp.test(phoneValue)){
    			 checkedPhone.innerHTML = '<div class="result"> 휴대전화 번호 11자리를 입력하세요. <div>';
    			 return;
    		 } else {
    			 checkedPhone.innerHTML = '';
    		 }
    	 }
     }
     
	let sendCode = '';
     
	if(document.getElementById("email1")){
		 
		$sendCode.onclick = function(){
			
			let email1 = document.getElementById("email1").value.trim();
			let email2 = document.getElementById("email2").value.trim();
			
			let email = email1 + "@" + email2

			
			
			console.log('완성된 이메일' + email)
			
			fetch("/emailCheck", {
				method: "POST",
	    		 headers: {
	    			 'Content-Type': 'application/json;charset=UTF-8'
	    		 },
				body: JSON.stringify({email})
			})
				.then(result => result.text())
				.then(result => sendCode = result)
				.then(result => checkedEmail.innerHTML = '<div class="result"> 이메일로 인증번호가 전송되었습니다. <div>')
				.catch((error) => error.text().then((res) => alert(res)));
				return;
		}
	 } else {
		 checkedEmail.innerHTML = '<div class="result"> 이메일을 입력하세요. <div>'
	 } // ================== 여기서 이메일 코드 값이 있으면 실행된다고 했는데 없어도 실행함 ======================
	 
	 
	 if(document.getElementById("emailCode"))
	 
		emailCode.onkeyup = function(){
			 
			 let emailCodeValue = emailCode.value.trim();
			 console.log("send : " + sendCode);
			 console.log("input : " + emailCodeValue);
			 
			 if(emailCodeValue != sendCode){
				 checkedEmail.innerHTML = '<div class="result" id = "discord"> 인증번호가 일치하지 않습니다. <div>';
				 return;
			 } else {
				 checkedId.innerHTML = '';
				 return;
			 }
		 } // ================== 여기서 이메일 인증번호 일치해도 안 없어짐 ======================
     

     

     const $searchAddress = document.getElementById("search");
     
     $searchAddress.onclick = function () {
     
	     new daum.Postcode({
	    	 oncomplete: function(data){
	    		 document.getElementById("zipCode").value = data.zonecode;
	    		 document.getElementById("searchAddress").value = data.address;
	    		 document.getElementById("detailAddress").focus();
	    	 }
	     }).open();
     }

     
     </script>
     
     
 
</body>
</html>