<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" href="/css/user/main.css">
<link rel="stylesheet" href="/css/user/info/unjoin.css">
<meta charset="UTF-8">
<title>굿잇 : 맛있게 건강해지고 싶다면? Let's GoodEat!</title>
</head>
<body>

	<script>
	    const message = '[[${message}]]';
	    message && alert(message);
	</script>

	<div th:replace="user/common/header.html"></div>

   <section id="con-wrap">
        <h1 id="unjoin" class="text">회원 탈퇴</h1>
            <form id="unjoinform" method="post" th:action="@{/unjoin}")>
                <span id="reason">탈퇴 사유 선택</span>
                <select class="text" name="selectReason" id="reason-select">
                    <option>찾고자 하는 상품이 없음</option>
                    <option>타 사이트 이용이 잦음</option>
                    <option>서비스 불만족</option>
                    <option>배송 불만족</option>
                    <option>기타 사유</option>
                </select><br>
                <textarea class="text-field" name="writeReason" placeholder=" Good Eat이 개선되었으면 하는 점이 있다면 자유롭게 작성 부탁드립니다. :)"></textarea>
                <br>
                <input type="image" src="/images/user/info/unjoinbutton.png" id="submitButton"/>
                <a th:href="@{/}"><img src="/images/user/info/cancelbutton.png" id="cancelButton"/></a>
            </form>
    </section>
      
	<div th:replace="user/common/footer.html"></div>
	
</body>
</html>