<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
	<link rel="stylesheet" href="/css/user/main.css">
	<link rel="stylesheet" href="/css/user/info/info.css">
	<script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<meta charset="UTF-8">
    <title>MyPage</title>
</head>
<body>

	<script>
	    const message = '[[${message}]]';
	    console.log(message);
	    message && alert(message);
	</script>

	<div th:replace="user/common/header.html"></div>

   <section id="con-wrap">
        <div id="registPage">
            <div id="regist">회원 정보 변경</div><hr style="margin-bottom:2em">
            <form name="regist" th:action="@{/mypage/info}" method="post" onsubmit="return checkForm()">
                <table>
                    <tr>
                        <td align="right">아이디</td>
                        <td align="left"><input id="id" class="text-field" th:value="${ #authentication.principal.memberId }" readonly/>
                    </tr>
                    <tr>
                        <td></td>
                    </tr>
                    <tr>
                        <td align="right">비밀번호</td>
                        <td align="left"><input type="password" name="memberPwd" class="text-field" id="password" placeholder="사용할 비밀번호 입력"/></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td align="left"><input type="password" class="text-field" id="password2" placeholder="비밀번호 재입력"></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td align="left" id="checkedPwd"></td>
                    </tr>
                    <tr>
                        <td align="right">이름</td>
                        <td align="left"><input type="text" class="text-field" id="name" th:value="${ #authentication.principal.memberName }"/></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td align="left" id="checkedName"></td>
                    </tr>
                    <tr>
                        <td align="right">휴대전화</td>
                        <td align="left"><input text="text" class="text-field" id="phone" th:value="${ #authentication.principal.phone }"/></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td align="left" id="checkedPhone"></td>
                    </tr>
                    <tr>
                        <td align="right">주소</td>
                        <td align="left">
                            <input class="text-field" id="zipCode" th:value="${ #authentication.principal.zipCode }">
                            <input class="text-field" id="searchAddress" th:value="${ #authentication.principal.address }">
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td align="left">
                            <input type="text" id="detailAddress" th:value="${ #authentication.principal.detailAddress }">
                            <input type="button" id="search" class="search-button button" value="검색"/>
                        </td>
                    <tr>
                        <td></td>
                        <td align="left" id="checkedAddress"></td>
                    </tr>
                    <tr>
                        <td align="right">이메일</td>
                        <td align="left"><input id="email" class="text-field" th:value="${ #authentication.principal.email }" readonly/></td>
                    </tr>
                    <tr>
                        <td></td>
                    </tr>
                    <tr>
                        <td align="right">성별</td>
                        <td align="left">
                        <label for="man">남자</label>
                        <input type="radio" name="gender" value="남" id="man">
                        <label for="woman">여자</label>
                        <input type="radio" name="gender" value="여" id="woman">
                        </td> 
                    </tr>
                    <td></td>
                    <tr>
                        <td align="right">생년월일</td>
						<td align="left"><input class="text-field" th:value="${ #authentication.principal.birthDate }" readonly/></td>
                    <tr>
                        <td align="right">이용약관</td>
                        <td align="left">
                            <a href="#" class="links">개인정보처리방침</a>
                            <input type="checkbox"  checked disabled/>
                            <a href="#" class="links">마케팅정보제공</a>
                            <input type="checkbox" name="agreement2" checked/>
                        </td>
                    </tr>
                </table>
                <br>
                    <div id="join-img">
                        <input type="image" src="/images/user/info/modifybutton.png" id="submitButton" width=270px/><br>
                        <a href="/unjoin" class="links">회원탈퇴</a>
                    </div>
            </form>
        </div>
    </section> 
    
    <div th:replace="user/common/footer.html"></div>
    
    <script>
    
    const password1 = document.getElementById("password");
    const password2 = document.getElementById("password2");
    const memberName = document.getElementById("name");
    const phone = document.getElementById("phone");
    const zipCode = document.getElementById("zipCode");
    const detailAddress = document.getElementById("detailAddress");
    
    var pwd_RegExp = /(?=.*\d)(?=.*[a-zA-ZS]).{6,16}/; // 패스워드
    var n_RegExp = /^[가-힣]{2,}$/; // 이름
    var p_RegExp = /^[0-9]{11,}$/; // 번호 
    
    function checkForm(){
    	
    	 if(!pwd_RegExp.test(password1.value.trim())){
      		alert('비밀번호를 확인해주세요.');
      		password1.focus();
     		 return false;
     	 }
    	 
       	 if(password1.value != password2.value){
        	alert('비밀번호가 일치하지 않습니다.');
      		password2.focus();
      		return false;
      	 }
       	 
    	 if(!n_RegExp.test(memberName.value.trim())){
    		 alert('이름을 확인해주세요.');
    		 memberName.focus();
    		 return false;
    	 }
    	 
    	 if(!p_RegExp.test(phone.value.trim())){
    		 alert('휴대전화 번호를 확인해주세요.');
    		 phone.focus();
    		 return false;
    	 }
    	 
    	 if(zipCode.value.trim() == ''){
    		 alert('주소를 입력해주세요.');
    		 detailAddress.focus();
    		 return false;
    	 }
    	 
    	 if(detailAddress.value.trim() == ''){
    		 alert('상세 주소를 입력해주세요.');
    		 detailAddress.focus();
    		 return false;
    	 }
    }
    
    if(password1){
   	 
		password1.onkeyup = function() {
   		 
	   		 let memberPwdValue = password1.value.trim();
	   		 
	   		 if(!pwd_RegExp.test(memberPwdValue)){
	   			 checkedPwd.innerHTML = '<div class="result"> 6~16자 영문, 숫자 혼합 비밀번호만 가능합니다. <div>';
	   			 return;
	   		 } else {
	   			 checkedPwd.innerHTML = '';
	   			 return;
	   		 }
		}	
	}
    
    if(password2){
   	 
    	password2.onkeyup = function(){
   		 
	   		 let memberPwdValue = password1.value.trim();
	   		 let password2Value = password2.value.trim();
	   		 
	   		 console.log(memberPwdValue, password2Value);
	   		 
	   		 if(memberPwdValue != password2Value)  {
	   			 checkedPwd.innerHTML = '<div class="result"> 비밀번호가 일치하지 않습니다. <div>';
	   			 return;
	   		 } else {
	   			 checkedPwd.innerHTML = '';
	   		 }
		}
	}
    
    if(memberName){
   	 
   		 memberName.onkeyup = function() {
   		 
	   		 let memberNameValue = memberName.value.trim();
	   		 
	   		 if(!n_RegExp.test(memberNameValue)){
	   			 checkedName.innerHTML = '<div class="result"> 2~15자 한글만 입력 가능합니다. <div>';
	   			 return;
	   		 } else {
	   			 checkedName.innerHTML = '';
	   		 }
		}
	} 
    
    if(document.getElementById("phone")){
   	 
   	 phone.onkeyup = function() {
   		 
   		 let phoneValue = phone.value.trim();
   		 
   		 if(!p_RegExp.test(phoneValue)){
   			 checkedPhone.innerHTML = '<div class="result"> 휴대전화 번호 11자리를 입력하세요. <div>';
   			 return;
   		 } else {
   			 checkedPhone.innerHTML = '';
   		 }
   	 }
    }
   
    const $searchAddress = document.getElementById("search");
    
    $searchAddress.onclick = function () {
    
	     new daum.Postcode({
	    	 oncomplete: function(data){
	    		 document.getElementById("zipCode").value = data.zonecode;
	    		 document.getElementById("searchAddress").value = data.address;
	    		 document.getElementById("detailAddress").focus();
	    	 }
	     }).open();
    }
    

    
    
    </script>

</body>
</html>