<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" href="/css/user/main.css">
<link rel="stylesheet" href="/css/user/info/mypage.css">
<meta charset="UTF-8">
<title>굿잇 : 맛있게 건강해지고 싶다면? Let's GoodEat!</title>
</head>
<body>

	<script>
	    const message = '[[${message}]]';
	    message && alert(message);
	</script>

	<div th:replace="user/common/header.html"></div>

   <section id="con-wrap">
        <h1 id="mypage" class="text">내 정보 조회</h1>
        <p class="text">회원님의 정보 보호를 위한 확인 절차입니다. 비밀번호를 입력해주세요.</p>
        <br>
            <form id="findform" method="post" action="/mypage" onsubmit="return checkInfo()">
                <input type="password" id="inputPwd" name="inputPwd" class="text-field text" placeholder=" 비밀번호 재입력"><br><br><br>
                <input type="image" src="/images/user/info/findbutton.png" width="100px"/>
                <a th:href="@{/}"><img src="/images/user/info/cancelbutton.png" width="100px"/></a>
            </form>
    </section> 
    
	<div th:replace="user/common/footer.html"></div>

</body>
</html>